.user-sidebar-menu-li:hover {
  color: #141414;
  text-decoration: none;
}
.user-sideBar {
  width: 400px;
  height: 1130px;
  background-color: #dadada;
  padding-top: 310px;
}
.user-sidebar-menu > a {
  color: #141414;
}
.user-sidebar-menu-li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  justify-content: center;
  padding: 10px;
}
.user-sidebar-menu-li:hover {
  background-color: #141414;
  color: white;
}
.user-sidebar-menu-li:hover > .user-sidebar-menu-li-left {
  border-left: #ffffff 1px solid;
}

.user-sidebar-menu-li:hover > .user-sidebar-menu-li-right {
  border-right: #ffffff 1px solid;
}

.user-sidebar-menu-li > div {
  width: 20px;
  height: 15px;
}

.user-sidebar-menu-li-left {
  border-left: #141414 1px solid;
}

.user-sidebar-menu-li-right {
  border-right: #141414 1px solid;
}

.user-sideBar-logo {
  width: 50px;
  margin: 0 auto 20px auto;
  height: 60px;
  font-size: 60px;
}

.user-sideBar-title {
  text-align: center;
  margin-bottom: 30px;
}
.user-sidebar-menu-out {
  width: 50px;
  margin: 180px auto;
  border-bottom: #141414 1px solid;
  text-align: center;
}

.user-sidebar-menu-out > a {
  color: #797979;
}
@media (max-width: 768px) {
  // .user-sideBar {
  //   display: none;
  // }
  .user-sidebar-menu-li {
    height: 32px;
    width: 100%;
    font-size: 14px;
    align-items: center;
    background: #F2F2F2;
    white-space: nowrap;
    margin: 0;
    margin-top: 70px;
}
  .user-sidebar-menu-li:hover > .user-sidebar-menu-li-left {
    display: none;
  }

  .user-sidebar-menu-li:hover > .user-sidebar-menu-li-right {
    display: none;
  }
  .user-sidebar-menu-li-left {
    display: none;
  }
  .user-sidebar-menu-li-right {
    display: none;
  }
  .user-sideBar-logo {
    display: none;
  }
  .user-sideBar-title {
    display: none;
  }
  .user-sidebar-menu {
    display: flex;
    width: 100%;
    height: 105px;
    background: #dadada;
    overflow: scroll;
}
  .user-sidebar-menu-out {
    display: none;
  }
  .user-sideBar {
    width: 100%;
    height: 0;
    background-color: #d71717;
    padding-top: 0;
  }
  .user-sidebar-menu::-webkit-scrollbar {
    display:none

} 
  
}
