.UserLike-main {
  width: 812px;
  margin: 198px auto auto 10%;

  /* background-color: thistle; */
}
.user-dropdown {
  display: none;
}
.UserLike-top-titleName {
  margin: 0 auto 80px auto;
  text-align: center;
}

.UserLike-search {
  width: 100%;
  position: relative;
}
.UserLike-search-input {
  width: calc(100% - 80px);
  height: 40px;
  padding-left: 17px;
}
.UserLike-search-button {
  width: 80px;
  height: 40px;
  text-align: center;
  background-color: var(--main-colorblock);
  color: var(--main-colorfff);
  transform: translateY(-1px);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
.UserLike-search-button:hover {
  background-color: var(--main-colorf2e);
  color: var(--main-colorblock);
}
.UserLike-search-404title {
  margin: 20px 0 20px 15px;
  color: var(--main-colorfb2);
}

.UserLike-order {
  margin-top: 40px;
  position: relative;
}
.UserLike-order-item {
  background-color: #f2f2f2;
  width: 100%;
  height: 180px;
  display: flex;
  margin-top: 20px;
}
.UserLike-order-item-img {
  width: 140px;
  height: 140px;
  margin: auto auto auto auto;
  position: relative;
}
.UserLike-order-item-img > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.UserLike-order-item-text {
  width: 65%;
  height: 140px;
  margin: auto auto auto 0;
  position: relative;
}
.UserLike-order-item-text-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 10px;
  font-size: 14px;
  width: 82%;
}
.UserLike-order-item-text-specification {
  margin-bottom: 10px;
  font-size: 14px;
}
.UserLike-order-item-text-number {
  font-size: 12px;
}
.UserLike-order-item-text-money {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: baseline;
}
.UserLike-order-item-text-money-1 {
  font-size: 20px;
  margin-right: 10px;
}
.UserLike-divider {
  border: 1.5px #f2f2f2 solid;
}
.UserLike-order-divider {
  background-color: var(--main-colorblock);
  margin-top: 20px;
}

.UserLike-order-item-text-money-2 {
  font-size: 14px;
}

.UserLike-order-item-text-money-3 {
  font-size: 24px;
}

.UserLike-order-item-button {
  width: 40px;
  height: 180px;
  color: var(--main-colorfff);
  background-color: var(--main-colorblock);
  position: absolute;
  right: 0;
  padding: 9px;
  border: none;
}
.UserLike-order-item-button:hover {
  color: var(--main-colorblock);
  background-color: var(--main-colorf2e);
}
@media (max-width: 768px) {
  .UserLike-main {
    width: 80%;
    margin: 154px auto 0 auto;
    /* background-color: thistle; */
    position: relative;
  }
  .UserLike-search {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .UserLike-search-input {
    /* width: calc(100% - 80px); */
    height: 40px;
    padding-left: 17px;
    width: 100%;
  }
  .UserLike-search-button {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--main-colorblock);
    color: var(--main-colorfff);
    border: none;
    position: relative;
  }
  .UserLike-search-404title {
    margin: 5px 0 5px 15px;
    color: var(--main-colorfb2);
  }
  .UserLike-order-item-button {
    /* text-align: center; */
    width: 100%;
    height: 30px;
    color: var(--main-colorfff);
    background-color: var(--main-colorblock);
    position: absolute;
    bottom: 0;
    padding: 4px;
    border: none;
  }
  .UserLike-order-item-text {
    width: 65%;
    height: 110px;
    margin: auto auto auto 0;
    position: relative;
  }
  .UserLike-order-item {
    background-color: #f2f2f2;
    width: 100%;
    height: 160px;
    display: flex;
    margin-top: 20px;
  }
  .UserLike-order-item-img {
    width: 140px;
    height: 140px;
    margin: auto auto auto 3%;
    position: relative;
  }
  .UserLike-top-titleName {
    margin: 0 auto 25px auto;
  }
  
}
