.userData-main{
  width: 812px;
  margin:198px  auto auto 10%;
  /* background-color: thistle; */
  position: relative;
}

.userData-top-titleName {
  margin: 0 auto 80px auto;
  text-align: center;
  font-family:var(--main-title-chinese);
}

.userData-top-hr{
  border: 1.5px #f2f2f2 solid;
}
.userData-top-ID {
  position: absolute;
  right: 0;
  margin-top: -20px;
  font-family:var(--main-title-chinese);

}

.userData-top-Img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgb(134, 134, 152);
  margin: 0 auto 5px auto;
}

.userData-form-input {
  display: flex;
  position: relative;
  font-size: 16px;

}
.userData-form-input>p{
  font-family:var(--main-title-chinese);

font-size: 14px;
}
.userData-form > label {
  height: 56px;
  margin: 20px auto 0 auto;
  border-bottom: 1px black solid;
  width: 100%;
  max-width: 500px;
}

.userData-form {
  display: flex;
  flex-direction: column;
}

.userData-form-button {
  width: 150px;
  height: 50px;
  background-color: #f2e8df;
  border-radius: 0;
  border: none;
  margin: 60px auto 60px auto;
  font-family:var(--main-title-chinese);

}

.userData-form-button:hover {
  color: white;
  background-color: #141414;
}
.svg-eye {
  width: 20px;
  height: 20px;
  position: absolute;
}
.UserData-inp  {
  position: absolute;
  bottom: 0;
  margin: 20px 0 0 48px;
  margin-bottom: 2px;
}
.UserData-inp > input {
  width:430px;
  outline: none;
  background-color: none;
  border: none;
  font-family:var(--main-title-chinese);

}
