@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
  
}
html {
  font-size: 14px;
}
::placeholder {
  color: var(--main-colorda);
}
input {
  outline: none;
}
button {
  outline: none;
}

:root {
  --main-colorfff: #fff;
  --main-colorblock: #141414;
  --main-color79: #797979;
  --main-colorda: #dadada;
  --main-colorf2: #f2f2f2;
  --main-colorf2e: #f2ebdf;
  --main-colorfb2: #fb2643;
  --main-title-english: 'Merienda';
  --main-title-chinese: 'Noto+Serif+TC';
  --nav-height: 5rem; /** 80px **/
  --margin: 11.25rem; /** 180px **/
  --h1: 2.25rem; /** 36px **/
  --h2: 1.5rem; /** 24px **/
  --h3: 1.42rem; /** 20px **/
  --h4: 1.14rem; /** 16px **/
  --p: 1rem;
  --h5: 0.92rem; /** 13px **/
  --h6: 0.85rem; /** 12px **/
}
.font-size-225rem {
  font-size: 2.25rem; /** 36px **/
}


.font-size-15rem {
  font-size: 1.5rem; /** 24px **/
}
.font-size-142rem {
  font-size: 1.42rem; /** 20px **/
}
.font-size-114rem {
  font-size: 1.14rem; /** 16px **/
}
.font-size-1rem {
  font-size: 1rem;
}
.font-size-092rem {
  font-size: 0.92rem; /** 13px **/
}
.font-size-185rem {
  font-size: 0.85rem; /** 12px **/
}

