.cart-table {
  // background: orange;
  // max-width: 960px;
  // width: 100%;
  .cart-thead {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0rem;
    background-color: black;
    text-align: center;
    display: flex;
    li {
      color: white;
      width: 14%;
    }
  }

  .cart-order-category {
    // margin-top: 10px !important;
    margin-bottom: 0rem;
    li {
      font-size: 16px;
      text-align: left;
      padding: 10px;
    }
    // hr {
    //   display: none;
    // }
  }

  .cart-product {
    line-height: 30px;
    display: flex;
    text-align: center;
    border: 1px solid #797979;
    margin-bottom: 0rem;
    li {
      width: 14%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      white-space: nowrap;
      input[type='checkbox'] {
        width: 20px;
        height: 20px;
      }
      img {
        width: 90%;
        // height: 80%;
      }
      .cart-number-input {
        border: 1px solid #797979;
        display: inline;
        padding: 0 30px;
        margin: 0 10px;
        line-height: 20px;
      }
      .cart-minusBtn,
      .cart-plusBtn {
        width: 20px;
        height: 20px;
      }
    }
    .cart-product-li {
    }
    .cart-product-li-2 {
    }
    .cart-product-number {
    }
    .cart-trash-btn {
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.cart-form {
}

.cart-buyer-info {
  // background: greenyellow;
  line-height: 30px;
  h2 {
    padding: 40px 0 15px 0;
    font-size: 16px;
  }
  fieldset {
    padding: 40px;
    border: 1px solid #797979;
  }
  label {
    // padding: 0 24px;
    display: inline-block;
    margin-bottom: 0rem;
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  }
  .cart-input {
    // background: #fb2643;
    // border: 1px solid white;
    width: 90%;
    margin: 0 auto;
    label {
      text-align: right;
      width: 14%;
      margin: 10px 0;
    }
    input {
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #797979;
      width: 93%;
      margin: 0 30px;
      text-indent: 120px;
    }
  }
}

.cart-invoice {
  // background: hotpink;
  line-height: 30px;
  h2 {
    padding: 40px 0 15px 0;
    font-size: 16px;
  }
  fieldset {
    padding: 40px;
    border: 1px solid #797979;
  }
  input {
    text-indent: 80px;
  }
  label {
    // background: blue;
    display: inline-block;
    margin-bottom: 0rem;
    input[type='radio'] {
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  }
  span {
    display: block;
    padding: 10px 30px;
    line-height: 30px;
  }
  select {
    // appearance: none;
    // -moz-appearance: none;
    // -webkit-appearance: none;
    border-color: #797979;
    font-family: 'Noto Serif TC';
    margin: 0 30px;
    padding: 5px;
  }
  select option:focus {
    background-color: #797979;
    color: #fff;
  }
  .cart-input1 {
    // background: lightblue;
    // border: 1px solid white;
    padding: 0 24px;
    width: 90%;
    margin: 0 auto;
    label {
      margin: 10px 0;
    }
    input {
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #797979;
      width: 100%;
      margin: 0 0 15px 0;
      // margin: 0 30px;
    }
  }
}

.cart-total {
  background: #f2f2f2;
  margin: 40px 30px;
  padding: 15px 30px;
  display: flex;
  font-size: 18px;
  .cart-discount {
    padding: 20px 70px;
    width: 50%;
    input {
      border: 1px solid #fb2643;
      text-align: center;
    }
  }
  .cart-total-right {
    width: 50%;
    padding: 0 70px;
    span {
      display: inline-block;
      padding: 0 10px;
      line-height: 30px !important;
    }
    .cart-total-title {
      text-align: left;
    }
    .cart-total-number {
      text-align: right;
      width: 200px;
    }
  }
}

.cart-checkout-btn {
  margin: 50px auto;
  width: 400px;
  button {
    background: #f2e8df;
    border: none;
    text-align: center;
    padding: 10px 50px;
    margin: 0 10px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cart-title {
    h1 {
    }
    span {
    }
  }

  .cart-table {
    .cart-thead {
      li {
      }
    }

    .cart-order-category {
      li {
      }
    }

    .cart-product {
      font-size: 13px;
      li {
        input[type='checkbox'] {
        }
        img {
          width: 100%;
        }
        .cart-number-input {
          padding: 0 25px;
        }
        .cart-minusBtn,
        .cart-plusBtn {
        }
      }
      .cart-product-li {
        width: 12%;
      }
      .cart-product-li-2 {
        width: 28%;
      }
      .cart-product-number {
      }
      .cart-trash-btn {
        svg {
        }
      }
    }
  }

  .cart-form {
  }

  .cart-buyer-info {
    h2 {
    }
    fieldset {
      font-size: 13px;
    }
    label {
      input[type='checkbox'] {
      }
    }
    .cart-input {
      label {
        width: 15%;
      }
      input {
        margin: 0 10px;
      }
    }
  }

  .cart-invoice {
    h2 {
    }
    fieldset {
      font-size: 13px;
    }
    input {
    }
    label {
      input[type='checkbox'] {
      }
    }
    span {
    }
    select {
    }
    .cart-input1 {
      label {
      }
      input {
      }
    }
  }

  .cart-total {
    font-size: 16px;
    .cart-discount {
      padding: 20px 0;
      label {
        display: block;
      }
      input {
      }
    }
    .cart-total-right {
      padding: 0 20px;
      span {
      }
      .cart-total-title {
      }
      .cart-total-number {
        width: auto;
      }
    }
  }

  .cart-checkout-btn {
    button {
    }
  }
}

@media screen and (max-width: 768px) {
  .cart-title {
    width: 80%;
    margin: 0 auto;
    h1 {
      font-size: 20px;
    }
    span {
      font-size: 12px;
    }
  }

  .cart-table {
    // background: orange;
    .cart-thead {
      width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
      li {
        font-size: 14px;
        width: 25%;
      }
      .cart-rwd-noneed {
        display: none;
      }
    }
    .cart-order-category {
      border: 1px solid #484848;
      border-bottom: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 16px;
        padding: 10px 10px 20px 10px;
      }
      // hr {
      //   color: #484848;
      //   width: 200px;
      //   margin: 0 auto;
      //   display: inline-block !important;
      // }
    }
    .cart-product {
      border-top: none;
      width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 25%;
        padding: 0;
        input[type='checkbox'] {
        }
        img {
          width: 100%;
        }
        .cart-number-input {
          padding: 0 40px;
          margin: 20px 10px;
          line-height: 20px;
          width: 55%;
        }
        .cart-minusBtn,
        .cart-plusBtn {
          width: 20px;
          height: 20px;
        }
      }
      .cart-product-li {
      }
      .cart-product-li-2 {
        width: 75%;
      }
      .cart-product-number {
        display: none;
      }
      .cart-trash-btn {
      }
    }
  }

  .cart-form {
  }

  .cart-buyer-info {
    // background: greenyellow;
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    h2 {
      font-size: 16px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
    fieldset {
      padding: 20px;
    }
    label {
      display: block;
      input[type='checkbox'] {
      }
    }
    .cart-input {
      width: 100%;
      label {
        width: 20%;
        white-space: nowrap;
      }
      input {
        // width: 100%;
        margin: 0 30px;
        text-indent: 80px;
        width: 90%;
      }
    }
  }

  .cart-invoice {
    // background: hotpink;
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 30px;
    h2 {
      font-size: 16px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
    fieldset {
      padding: 20px;
    }
    input {
    }
    label {
      input[type='checkbox'] {
      }
    }
    span {
      padding: 10px 25px;
    }
    select {
    }
    .cart-input1 {
      padding: 0;
      margin: 0 0 0 25px;
      width: 90%;
      label {
      }
      input {
        width: 100%;
        text-indent: 60px;
      }
    }
  }

  .cart-total {
    width: 80%;
    margin: 20px auto 10px auto;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .cart-discount {
      // flex-wrap: wrap;
      width: 100%;
      padding: 20px 20px 0 25px;
      input {
        width: 75%;
      }
      label {
        margin-bottom: 0rem;
        padding: 0 10px 0 0;
      }
    }
    .cart-total-right {
      width: 100%;
      padding: 10px 25px;
      span {
      }
      .cart-total-title {
        width: 50%;
      }
      .cart-total-number {
        width: 50%;
      }
    }
  }

  .cart-checkout-btn {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    font-size: 16px;
    margin: 30px auto;
    button {
      width: 100%;
      margin: 10px 0;
    }
  }
}
