.cart-thank-card {
  border: 1px solid #797979;
  margin: 50px 200px;
  padding: 30px 90px;
  font-family: 'Noto Serif TC';
  h2 {
    font-size: 20px;
    color: #fb2643;
    line-height: 50px;
    text-align: center;
  }
  span {
    display: block;
    margin: 0 auto;
    line-height: 40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cart-thank-card {
    width: 80%;
    margin: 50px auto 485px auto;
    padding: 0 50px;
    h2 {
      line-height: 90px;
    }
    span {
      line-height: 42px;
    }
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .cart-thank-card {
    width: 65%;
    margin: 50px auto 415px auto;
    padding: 25px;
    font-size: 12px;
    h2 {
      font-size: 16px;
      line-height: 36px;
      margin: 0.5rem;
    }
    span {
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 450px) {
  .cart-thank-card {
    width: 80%;
    // margin: 20px auto;
    margin: 25px auto 185px auto;
    font-size: 12px;
    padding: 20px 25px;
    h2 {
      line-height: 30px;
      margin: 0.5rem;
    }
    span {
      line-height: 36px;
    }
  }
}
