.ForumAll {
  width: 100%;
}
//我要發問彈出視窗
.ForumBtn01 {
  width: 1000px;
  height: 300px;
  margin: 0px auto;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  background-color: gray;
  z-index: 998;
}
.ForumBtnAction {
  width: 300px;
  height: 100px;
}
.BackgroundForum {
  background-image: url('../../img/About/背景圖片1.jpg');
  height: 300px;
  width: 100%;
  background-size: cover;
}
.ForumHeight {
  //   background: red;
  height: 70px;
}
.ForumContainer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  font-family: var(--main-title-chinese);
  color: #141414;
}
.ForumTitle {
  max-width: 960px;
  height: 100px;
}
/* Forum-button */
.ForumButton {
  /* text-align: right; */
  font-size: 1.14rem;
  float: right;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  background: #f2ebdf;
  border: 0px;
  width: 100px;
  height: 50px;
}

// ForumCardAll
.ForumCard {
  display: flex;
}
// ForumCardAction
.ForumAction {
  padding: 20px 20px 20px 0;
}
// CardImg

.ForumCardImg {
  margin: 20px;
  width: 100px;
  height: 100px;
  //   border: 1px solid red;
  border-radius: 50%;
  background-image: url(../../img/About/女生001.jpg);
  background-size: cover;
}
.ForumCardTeacherImg {
  margin: 20px;
  width: 50px;
  height: 50px;
  //   border: 1px solid red;
  border-radius: 50%;
  background-image: url(../../img/About/女生001.jpg);
  background-size: cover;
}

/* Forum-buttonAns */
.ForumBtnAns {
  /* text-align: right; */
  font-size: 1.14rem;

  margin: 110px 20px 20px 0px;
  padding: 10px;
  background: #f2ebdf;
  border: 0px;
  width: 100px;
  height: 50px;
}

// CardTitle

.ForumCardTitle {
  display: flex;
  max-width: 480px;
}
// CardH3元素

.ForumCardH3 {
  font-size: var(--h3);
  width: 200px;
  margin: 20px;
}
//綜合

.ComprehensiveButton {
  /* text-align: right; */
  font-size: 1.14rem;
  position: relative;
  right: 0px;
  bottom: 0px;
  margin: 100px 0px 0px 20px;
  //   padding: 10px;
  background: #f2ebdf;
  border: 0px;
  width: 50px;
  height: 25px;
}
// CardDiv元素

.ForumCardDiv {
  display: flex;
  border: 1px solid #f2ebdf;
  width: 460px;
  margin: 0px;
}
// CardP元素

.ForumCardP {
  width: 420px;
  margin: 20px;
  // letter-spacing: 10px;
}

.ForumCardP2 {
  width: 420px;
  margin: 0 10px 20px 20px;
  letter-spacing: 10px;
}

// ForumChecked
.ForumChecked {
  text-align: center;
  margin: 10px;
  button {
    margin: 10px;
  }
}
@media (max-width: 1000px) {
  .ForumContainer {
    max-width: 480px;
    margin: 0px auto;
  }
  .ForumCard {
    display: inline-block;
  }
}
@media (max-width: 320px) {
  .ForumContainer {
    max-width: 320px;
  }
}
