// Import Bootstrap and its default variables
// @import '~bootstrap/scss/bootstrap';

// google-font
// @import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

// * {
//   margin: 0;
//   padding: 0;
// }

// :root {
//   --main-colorfff: #fff;
//   --main-colorblack: #141414;
//   --main-color79: #797979;
//   --main-colorda: #dadada;
//   --main-colorf2: #f2f2f2;
//   --main-colorf2e: #f2ebdf;
//   --main-colorfb2: #fb2643;
//   --main-title-english: 'Merienda';
//   --main-title-chinese: 'Noto Serif TC';
//   --nav-height: 5rem; /** 80px **/
//   --margin: 11.25rem; /** 180px **/
//   --h1: 2.25rem; /** 36px **/
//   --h2: 1.5rem; /** 24px **/
//   --h3: 1.42rem; /** 20px **/
//   --h4: 1.14rem; /** 16px **/
//   --p: 1rem;
//   --h5: 0.92rem; /** 13px **/
//   --h6: 0.85rem; /** 12px **/
// }

.cart-english-font {
  font-family: 'Merienda';
}

.cart-container {
  max-width: 960px;
  margin: 80px auto;
  font-family: 'Noto Serif TC';
  font-size: 16px;
  box-sizing: border-box;
}

.cart-title {
  // background: yellow;
  h1 {
    font-size: 36px;
    font-family: 'Merienda';
  }
  span {
    font-size: 16px;
    line-height: 30px;
  }
}

.cart-table {
  // background: orange;
  // max-width: 960px;
  // width: 100%;
  .cart-thead {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0rem;
    background-color: black;
    text-align: center;
    display: flex;
    li {
      color: white;
      width: 14%;
    }
  }

  .cart-order-category {
    // margin-top: 10px !important;
    margin-bottom: 0rem;
    li {
      font-size: 16px;
      text-align: left;
      padding: 10px;
    }
    // hr {
    //   display: none;
    // }
  }

  .cart-product {
    line-height: 30px;
    display: flex;
    text-align: center;
    border: 1px solid #797979;
    margin-bottom: 0rem;
    li {
      width: 14%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      white-space: nowrap;
      input[type='checkbox'] {
        width: 20px;
        height: 20px;
      }
      img {
        width: 70%;
        // height: 80%;
      }
      .cart-number-input {
        border: 1px solid #797979;
        display: inline;
        padding: 0 30px;
        margin: 0 10px;
        line-height: 20px;
      }
      .cart-minusBtn,
      .cart-plusBtn {
        width: 20px;
        height: 20px;
      }
    }
    .cart-product-li {
    }
    .cart-product-li-2 {
    }
    .cart-product-number {
    }
    .cart-trash-btn {
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.cart-form {
}

.cart-buyer-info {
  // background: greenyellow;
  line-height: 30px;
  h2 {
    padding: 40px 0 15px 0;
    font-size: 16px;
  }
  fieldset {
    padding: 40px;
    border: 1px solid #797979;
  }
  label {
    // padding: 0 24px;
    display: inline-block;
    margin-bottom: 0rem;
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  }
  .cart-input {
    // background: #fb2643;
    // border: 1px solid white;
    width: 90%;
    margin: 0 auto;
    label {
      text-align: right;
      width: 14%;
      margin: 10px 0;
    }
    input {
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #797979;
      width: 93%;
      margin: 0 30px;
      text-indent: 120px;
    }
  }
}

.cart-invoice {
  // background: hotpink;
  line-height: 30px;
  h2 {
    padding: 40px 0 15px 0;
    font-size: 16px;
  }
  fieldset {
    padding: 40px;
    border: 1px solid #797979;
  }
  input {
    text-indent: 80px;
  }
  label {
    // background: blue;
    display: inline-block;
    margin-bottom: 0rem;
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  }
  span {
    display: block;
    padding: 10px 30px;
    line-height: 30px;
  }
  select {
    border-color: #797979;
    font-family: 'Noto Serif TC';
    margin: 0 30px;
    padding: 5px;
  }
  .cart-input1 {
    // background: lightblue;
    // border: 1px solid white;
    padding: 0 24px;
    width: 90%;
    margin: 0 auto;
    label {
      margin: 10px 0;
    }
    input {
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #797979;
      width: 100%;
      margin: 0 0 15px 0;
      // margin: 0 30px;
    }
  }
}

.cart-total {
  background: #f2f2f2;
  margin: 40px 30px;
  padding: 15px 30px;
  display: flex;
  font-size: 18px;
  .cart-discount {
    padding: 20px 70px;
    width: 50%;
    input {
      border: 1px solid #fb2643;
      text-align: center;
    }
  }
  .cart-total-right {
    width: 50%;
    padding: 0 70px;
    span {
      display: inline-block;
      padding: 0 10px;
      line-height: 30px !important;
    }
    .cart-total-title {
      text-align: left;
    }
    .cart-total-number {
      text-align: right;
      width: 200px;
    }
  }
}

.cart-checkout-btn {
  margin: 50px auto;
  width: 400px;
  button {
    background: #f2e8df;
    border: none;
    text-align: center;
    padding: 10px 50px;
    margin: 0 10px;
  }
}

@media (min-width: 374px) and (max-width: 413px) {
  .cart-container {
    margin: 50px auto;
  }

  .cart-title {
    width: 80%;
    margin: 0 auto;
    h1 {
      font-size: 20px;
    }
    span {
      font-size: 12px;
    }
  }

  .cart-table {
    // background: orange;
    .cart-thead {
      width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
      li {
        font-size: 14px;
        width: 25%;
      }
      .cart-rwd-noneed {
        display: none;
      }
    }
    .cart-order-category {
      border: 1px solid #484848;
      border-bottom: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 16px;
        padding: 10px 10px 20px 10px;
      }
      // hr {
      //   color: #484848;
      //   width: 200px;
      //   margin: 0 auto;
      //   display: inline-block !important;
      // }
    }
    .cart-product {
      border-top: none;
      width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 25%;
        padding: 0;
        input[type='checkbox'] {
        }
        img {
          width: 90%;
        }
        .cart-number-input {
          padding: 0 40px;
          margin: 20px 10px;
          line-height: 20px;
        }
        .cart-minusBtn,
        .cart-plusBtn {
          width: 20px;
          height: 20px;
        }
      }
      .cart-product-li {
      }
      .cart-product-li-2 {
        width: 75%;
      }
      .cart-product-number {
        display: none;
      }
      .cart-trash-btn {
      }
    }
  }

  .cart-form {
  }

  .cart-buyer-info {
    // background: greenyellow;
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    h2 {
      font-size: 16px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
    fieldset {
      padding: 20px;
    }
    label {
      display: block;
      input[type='checkbox'] {
      }
    }
    .cart-input {
      width: 100%;
      label {
        width: 22%;
      }
      input {
        width: 100%;
        margin: 0;
        text-indent: 80px;
      }
    }
  }

  .cart-invoice {
    // background: hotpink;
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 30px;
    h2 {
      font-size: 16px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
    fieldset {
      padding: 20px;
    }
    input {
    }
    label {
      input[type='checkbox'] {
      }
    }
    span {
      padding: 10px 25px;
    }
    select {
    }
    .cart-input1 {
      padding: 0;
      margin: 0 0 0 25px;
      label {
      }
      input {
        width: 95%;
        text-indent: 60px;
      }
    }
  }

  .cart-total {
    width: 80%;
    margin: 20px auto 10px auto;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .cart-discount {
      // flex-wrap: wrap;
      width: 100%;
      padding: 15px 30px 0 35px;
      input {
        width: 75%;
      }
      label {
        margin-bottom: 0rem;
        padding: 0 10px 0 0;
      }
    }
    .cart-total-right {
      width: 100%;
      padding: 10px 25px;
      span {
      }
      .cart-total-title {
      }
      .cart-total-number {
      }
    }
  }

  .cart-checkout-btn {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    font-size: 16px;
    button {
      width: 100%;
      margin: 10px 0;
    }
  }
} /* iphone */
