.ins-home-page {
  width: 812px;
  margin: 198px auto auto 10%;
  /* background-color: thistle; */
  position: relative;
}
.ins-user-id {
  font-size: 14px;
  color: var(--main-color79);
}
.ins-home-title {
  margin: 0 auto 80px auto;
  text-align: center;
  font-family: var(--main-title-chinese);
}

.ins-home-hr {
  border: 1.5px #f2f2f2 solid;
}

.ins-home-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  // background-color: rgb(134, 134, 152);
  margin: 0 auto 5px auto;
}

.ins-home-label {
  display: flex;
  position: relative;
  font-size: 16px;
}

.ins-home-label > p {
  font-family: var(--main-title-chinese);

  font-size: 14px;
}
.ins-home-form > label {
  height: 56px;
  margin: 20px auto 0 auto;
  border-bottom: 2px var(--main-colorda) solid;
  width: 100%;
  max-width: 500px;
}
.ins-home-form > label:hover {
  border-bottom: 2px #141414 solid;
}

.ins-home-form {
  display: flex;
  flex-direction: column;
}

.ins-home-form-btn {
  width: 150px;
  height: 50px;
  background-color: #f2e8df;
  border-radius: 0;
  border: none;
  margin: 60px auto 60px auto;
  font-family: var(--main-title-chinese);
}

.ins-home-form-btn:hover {
  color: white;
  background-color: #141414;
}
.svg-eye {
  width: 20px;
  height: 20px;
  position: absolute;
}
.ins-home-inp {
  position: absolute;
  bottom: 0;
  margin: 20px 0 0 48px;
  margin-bottom: 2px;
}
.ins-home-inp > input {
  width: 430px;
  outline: none;
  background-color: none;
  border: none;
  font-family: var(--main-title-chinese);
}
.ins-home-div {
  width: 100%;
  height: 450px;
}

.ins-home-div-img {
  max-width: 100%;
  max-height: 100%;
}
.insdata-alert-p {
  margin-bottom: -13px;
  float: left;
}

@media (max-width: 768px) {
  .ins-home-page {
    width: 100%;
    margin: 154px auto auto 0;
    /* background-color: thistle; */
    position: relative;
  }
  .ins-home-inp > input {
    width: 100%;
    outline: none;
    background-color: none;
    border: none;
    font-family: var(--main-title-chinese);
  }
  .ins-home-inp {
    width: 90%;
    position: absolute;
    bottom: 0;
    margin: 20px 0 0 0px;
    margin-bottom: 2px;
  }
  .ins-home-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
  }

  .ins-home-hr {
    width: 80%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .userData-top-ID {
    position: relative;
    text-align: right;
  }
  .userData-top-ID > p {
    width: 80%;
    margin: 0 auto;
  }

  .ins-home-title {
    margin: 0 auto 25px auto;
  }
  .ins-home-form-btn {
    width: 100%;
    height: 50px;
    background-color: #f2e8df;
    border-radius: 0;
    border: none;
    margin: 11px auto 40px auto;
    font-family: var(--main-title-chinese);
  }
}
