.ins-edit-page {
  width: 812px;
  margin: 198px auto auto 10%;
  // border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-bottom: 80px;
  }

  .ins-edit-form {
    position: relative;
    margin: auto;
    width: 100%;

    .ins-edit-file-btn {
      width: 100%;
      text-align: center;
      height: 50px;
      position: relative;

      label {
        width: 30%;
        height: 50px;
        text-align: center;
        position: absolute;
        left: calc(50% - 15%);
        line-height: 50px;
        background: #141414;
        color: #fff;
        z-index: 99;
        // opacity: 0;
      }
      label:hover {
        background: var(--main-colorf2e);
        color: #141414;
      }
      input {
        opacity: 0;
        width: 30%;
        height: 50px;
      }

      // .ins-edit-file-img {
      //   width: 30%;
      //   height: 50px;
      //   background: #141414;
      //   color: #fff;
      //   border: none;
      // }
      // .ins-edit-file-img:hover {
      //   background: var(--main-colorf2e);
      //   color: #141414;
      // }
    }

    .ins-edit-add {
      width: 80%;
      height: 350px;
      border: 1px solid #141414;
      text-align: center;
      margin: auto auto 10px auto;

      .ins-edit-file-text {
        margin-top: 50px;
        color: var(--main-color79);
      }
      .ins-edit-icon-div {
        .ins-edit-icon {
          color: var(--main-color79);
          width: 100px;
          height: 100px;
        }
      }
      .ins-edit-pre-img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .ins-edit-content {
      width: 70%;
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      .ins-edit-label {
        margin: 20px auto 0 auto;
        width: 100%;
        border-bottom: 2px var(--main-colorda) solid;
        input {
          width: 90%;
          border: none;
          outline: none;
          margin: 20px 0 1px 48px;
        }
        .ins-edit-select-value {
          select {
            width: 90%;
            border: none;
            outline: none;
            margin: 20px 0 5px 45px;

            option {
              background: var(--main-colorf2e);
            }
          }
        }
      }
      .ins-edit-label:hover {
        border-bottom: 2px var(--main-colorblock) solid;
      }
      .ins-edit-content-text {
        margin: 20px auto 0 auto;
        width: 100%;
        textarea {
          width: 100%;
          height: 278px;
          margin: 20px 0 0 0;
        }
      }
      .ins-edit-add-btn {
        width: 150px;
        height: 50px;
        margin: 60px auto 60px auto;
        border: none;
        background: #f2e8df;
      }
      .ins-edit-add-btn:hover {
        background: #141414;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .ins-edit-page {
    width: 80%;
    margin: 154px auto auto auto;
    .ins-edit-form {
      .ins-edit-add {
        width: 100%;
        height: 250px;
        .ins-edit-icon-div {
          .ins-edit-icon {
            width: 50px;
            height: 50px;
          }
        }
      }

      .ins-edit-content {
        width: 100%;
        .ins-edit-label {
          width: 100%;
          input {
            margin-left: 0px;
            width: 100%;
          }
          select {
            margin-left: 0px;
            width: 100%;
          }
        }
        .ins-edit-add-btn {
          width: 100%;
          margin: 11px auto 40px auto;
        }
      }
    }
  }
}
