.ins-list-page {
  width: 812px;
  margin: 198px auto auto 10%;

  .ins-list-title {
    margin: -1px auto 80px auto;
    text-align: center;
  }
  .ins-main-buttons {
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    border-radius: 0%;

    .ins-menu-btn {
      border: solid 1px black;
    }
    .ins-menu-btn:hover {
      background-color: black;
      color: white;
    }
  }
  .ins-list-search {
    .ins-dropdown {
      display: none;

      .ins-dropbtn:focus {
        border: 1px solid #141414;
      }
    }
    .ins-list-search-label {
      position: relative;
      width: 100%;
      input {
        width: calc(100% - 80px);
        height: 40px;
        padding-left: 17px;
      }
      input:focus {
        border: solid 2px #141414;
      }

      button {
        width: 80px;
        height: 40px;
        background: var(--main-colorblock);
        color: #fff;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
      }
      button:hover {
        background: var(--main-colorf2e);
        color: var(--main-colorblock);
      }

      p {
        margin: 20px 0 20px 15px;
        color: var(--main-colorfb2);
      }
    }
  }
  .ins-list-hr {
    border: 3px solid var(--main-colorda);
    margin: 0px;
  }
  .ins-list-add-btn {
    width: 100%;
    height: 40px;
    background: var(--main-colorblock);
    color: #fff;
    border: none;
    margin: auto auto 50px auto;
    display: none;
    text-align: center;
  }
  .ins-list-add-btn:hover {
    background: var(--main-colorf2e);
    color: var(--main-colorblock);
  }

  .ins-list-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: auto auto 50px auto;
    border-bottom: 6px solid var(--main-colorda);

    .ins-list-tool-btn {
      width: 100px;
      height: 50px;
      line-height: 50px;
      background: #141414;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
    .ins-list-tool-btn:hover {
      background: var(--main-colorf2e);
      color: var(--main-colorblock);
    }
    .ins-list-option {
      display: flex;

      input {
        width: 25px;
        height: 25px;
      }

      a {
        margin-left: 30px;
        color: #141414;
      }
    }

    button {
      background: var(--main-colorblock);
      color: #fff;
      width: 100px;
      height: 50px;
      border: none;
    }
    button:hover {
      background: var(--main-colorf2e);
      color: var(--main-colorblock);
    }
  }

  .ins-list-product {
    .ins-list-state {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid;
      margin: auto auto 5px auto;
      height: 20px;
    }
    .ins-list-content {
      height: 180px;
      display: flex;
      align-items: center;
      margin: auto auto 50px auto;

      input {
        width: 25px;
        height: 25px;
        margin: auto auto auto 5px;
      }

      .ins-list-content-movie {
        width: 250px;
        height: 180px;
        margin: 5px;
        text-align: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: auto;
        }
      }
      .ins-list-content-text {
        height: 180px;
        width: 50%;
        padding: 10px;
        text-decoration: none;
        background: #dadada;
        h3 {
          letter-spacing: 2px;
          color: #141414;
        }
        p {
          line-height: 25px;
          letter-spacing: 2px;
          color: #141414;
        }
        .ins-list-pro-money-1 {
          line-height: 25px;
          margin: 0 5px 0 0;
          color: #141414;
        }
      }
      .ins-list-content-text:hover > h3 {
        text-decoration: underline;
      }
      .ins-list-content-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 15%;
        height: 180px;
        background: #dadada;

        button {
          width: 80px;
          height: 40px;
          background: var(--main-colorblock);
          color: #fff;
          border: none;
        }
        button:hover {
          background: var(--main-colorf2e);
          color: var(--main-colorblock);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ins-list-page {
    width: 80%;
    margin: 154px auto 0 auto;

    .ins-main-buttons {
      display: none;
    }

    .ins-list-hr {
      margin: 5px auto 10px auto;
    }

    .ins-list-search {
      /* 容器 <div> - 需要定位下拉內容 */
      .ins-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;

        /* 下拉按鈕樣式 */
        .ins-dropbtn {
          color: #141414;
          width: 100%;
          font-size: 14px;
          height: 40px;
          border: none;
          cursor: pointer;
          border: 1px solid #141414;
          padding-left: 5%;
          background-color: #ffffff;
          margin-bottom: 5px;
          text-align: left;
        }

        /* 下拉內容 (預設隱藏) */
        .ins-dropdown-content {
          background-color: #ffff;
          z-index: 1;
          display: none;
          width: 100%;
          position: absolute;
          color: #141414;
          /* min-width: 160px; */
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        /* 下拉式選單的連結 */
        .ins-dropdown-content a {
          color: black;
          /* padding: 6px 16px; */
          font-size: 14px;
          height: 40px;
          text-decoration: none;
          display: block;
          margin: 0;
          padding-left: 5%;
        }

        /* 當下拉內容顯示後修改下拉按鈕的背景顏色 */

        .ins-dropbtn > svg {
          position: absolute;
          height: 26px;
          right: 4%;
          top: 5%;
        }

        /* 滑鼠移上去後修改下拉式選單連結顏色 */
        .ins-dropdown-content a:hover {
          background-color: #f2e8df;
        }
      }

      /* 在滑鼠移上去後顯示下拉式選單 */
      .ins-dropdown:hover .ins-dropdown-content {
        display: block;
      }

      .ins-list-search-label {
        input {
          width: 100%;
        }
        button {
          width: 100%;
          position: relative;
        }
      }
    }
    .ins-list-title {
      margin: 0 auto 25px auto;
      text-align: center;
    }

    .ins-list-tools {
      display: none;
    }
    .ins-list-add-btn {
      display: block;
      margin-bottom: 30px;
      text-decoration: none;
      padding: 0px;
      line-height: 40px;
    }
    .ins-list-product {
      // position: relative;
      margin-bottom: 100px;
      .ins-list-state {
        margin: auto auto 30px auto;
      }
      .ins-list-content {
        display: block;
        height: 500px;

        input {
          display: none;
        }

        .ins-list-content-movie {
          // position: absolute;
          width: 100%;
          height: 40%;
          margin: 0 auto;
        }

        .ins-list-content-text {
          width: 100%;
          height: 30%;
          margin: 0 auto;

          // .ins-list-pro-content {
          //   width: 50%;

          //   span {
          //     display: inline;
          //   }
          // }
        }
        .ins-list-content-btns {
          width: 100%;
          margin: auto;
          background: none;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
