@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}
::placeholder {
  color: var(--main-colorda);
}
input {
  outline: none;
}
button {
  outline: none;
}
button:hover {
  outline: none;
}
button:focus{
  outline: none;

}

:root {
  --main-colorfff: #fff;
  --main-colorblock: #141414;
  --main-color79: #797979;
  --main-colorda: #dadada;
  --main-colorf2: #f2f2f2;
  --main-colorf2e: #f2ebdf;
  --main-colorfb2: #fb2643;
  --main-title-english: 'Merienda';
  --main-title-chinese: 'Noto+Serif+TC';
  --nav-height: 5rem; /** 80px **/
  --margin: 11.25rem; /** 180px **/
  --h1: 2.25rem; /** 36px **/
  --h2: 1.5rem; /** 24px **/
  --h3: 1.42rem; /** 20px **/
  --h4: 1.14rem; /** 16px **/
  --p: 1rem;
  --h5: 0.92rem; /** 13px **/
  --h6: 0.85rem; /** 12px **/
}

.user-color-red {
  color: #fb2643;
}
.user-font-eg {
  font-family: 'Merienda';
}
.user-font-ch {
  font-family: 'Noto+Serif+TC';
  color: var(--main-colorblock);
}

.font-size-225rem {
  font-size: 36px; /** 36px **/
}

.font-size-15rem {
  font-size: 24px; /** 24px **/
}
.font-size-142rem {
  font-size: 20px; /** 20px **/
}
.font-size-114rem {
  font-size: 16px; /** 16px **/
}
.font-size-1rem {
  font-size: 14px;
}
.font-size-092rem {
  font-size: 13px; /** 13px **/
}
.font-size-185rem {
  font-size: 12px; /** 12px **/
}

.user-container {
  margin: 0 auto;
  display: flex;
}

@media (min-width: 768px) {
  .user-container {
    width: 750px;
  }
  .userRwd-dropdown {
    display: none;
  }
}
@media (min-width: 992px) {
  .user-container {
    width: 900px;
  }
}
@media (min-width: 1370px) {
  .user-container {
    width: 1364px;
  }
}

@media (max-width: 768px) {
  .user-container {
    display: flex;
    flex-direction: column;
  }
  /* 下拉按鈕樣式 */
  .userRwd-dropbtn {
    color: #141414;
    width: 100%;
    font-size: 14px;
    height: 40px;
    border: none;
    cursor: pointer;
    border: 1px solid #141414;
    padding-left: 5%;
    background-color: #ffffff;
    margin-bottom: 5px;
  }

  /* 容器 <div> - 需要定位下拉內容 */
  .userRwd-dropdown {
    position: relative;
    width: 80%;
    /* margin-top: 20px; */
    margin: 20px auto 40px auto;
  }

  /* 下拉內容 (預設隱藏) */
  .userRwd-dropdown-content {
    overflow: scroll;
    background-color: #ffff;
    z-index: 10;
    display: none;
    width: 100%;
    position: absolute;
    height: 200px;
    color: #141414;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  /* 下拉式選單的連結 */
  .userRwd-dropdown-content a {
    color: black;
    /* padding: 6px 16px; */
    font-size: 14px;
    height: 40px;
    text-decoration: none;
    display: block;
    margin: 0;
    padding-left: 5%;
  }

  /* 滑鼠移上去後修改下拉式選單連結顏色 */
  .userRwd-dropdown-content a:hover {
    background-color: #f2e8df;
  }

  /* 在滑鼠移上去後顯示下拉式選單 */
  .userRwd-dropdown:hover .userRwd-dropdown-content {
    display: block;
  }

  /* 當下拉內容顯示後修改下拉按鈕的背景顏色 */

  .userRwd-dropbtn > svg {
    position: absolute;
    height: 26px;
    right: 4%;
    top: 8%;
  }
  .userRwd-dropbtn {
    text-align: left;
  }
}
.user-dropbtn:focus {
  border: 2px solid #141414;
}
.user-page {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 60px auto;
}
.user-page-number {
  height: 36px;
  width: 36px;
  margin: 5px;
  outline: none;
  border: 1px solid #dadada;
  background-color: #ffffff;
}
.user-page-number:hover {
  background-color: #f2e8df;
}
.user-page-Rarrow,
.user-page-Larrow {
  font-size: 30px;
  text-align: center;
  height: 36px;
  width: 36px;
  outline: none;
  border: none;
}
.user-page-Larrow {
  transform: rotate(90deg);
  margin: 5px 0 0 0;
}
.user-page-Rarrow {
  transform: rotate(-90deg);
  margin: 5px 0 0 0;
}
.user-page-Larrow:hover,
.user-page-Rarrow:hover > i {
  font-size: 35px;
}
.user-page-Rarrow:hover,
.user-page-Larrow:hover > i {
  font-size: 35px;
}
.user-page-x {
  outline: none;
  border: none;
  background-color: #ffffff;
  margin-top: 5%;
  outline: none;
}
.user-page-x:hover{
  font-weight:bolder; 
  letter-spacing:3px;    
  outline: none;
  border: none;
   }
