@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --main-colorfff: #fff;
  --main-colorblock: #141414;
  --main-color79: #797979;
  --main-colorda: #dadada;
  --mail-colorf2: #f2f2f2;
  --main-colorf2e: #f2ebdf; // 米色
  --main-colorfb2: #fb2643;
  --main-title-english: 'Merienda', cursive;
  --main-title-chinese: 'Noto Serif TC', serif;
  --nav-height: 5rem; // 80px
  --margin: 11.25rem; // 180px
  --h1: 2.25rem; // 36px
  --h2: 1.5rem; // 24px
  --h3: 1.42rem; // 20px
  --h4: 1.14rem; // 16px
  --p: 1rem;
  --h5: 0.92rem; // 13px
  --h6: 0.85rem; // 12px
}

// crat
@import './cart/cart.scss';
@import './cart/cart-2.scss';
@import './cart/cart-3.scss';
@import './cart/cart-4.scss';

//home
@import '~bootstrap/scss/bootstrap.scss';
@import './home/home-navbar-index.scss';
@import './home/navbar.scss';
@import './home/home-slider-index.scss';
@import './home/home-slider-news.scss';
@import './home/home-slogan.scss';
@import './home/home-courses-videos.scss';
@import './home/home-instruments.scss';
@import './home/home-news.scss';
@import './home/footer.scss';

//news
@import './news/news-Sliders.scss';
@import './news/news-Content.scss';
@import './news/news-Category.scss';
@import './news/news-Hot.scss';

//product
@import './product/instrument/productCategory.scss';
@import './product/instrument/productList.scss';

// login
@import './login/all-login-page.scss';
@import './login/user-facturer-login-page.scss';

// register
@import './register/user-register.scss';
@import './register/manufacturer-register.scss';

//User
@import './user/user-app.scss';
@import './user/user-data.scss';
@import './user/user-like.scss';
@import './user/user-purchase.scss';
@import './user/user-pwd.scss';
@import './user/user-sidebar.scss';
@import './user/user-video.scss';
@import './user/user-voucher.scss';

//About
@import './ForumScss/ForumCard.scss';
@import './AnyQuestion/AnyQuestionList.scss';
@import './AboutScss/AboutList.scss';
@import './AnyQuestion/AnyQuestionAction.scss';
