.news-ContentContainer {
  width: 960px;
  margin: 0 auto;
}

.news-Content {
  width: 600px;
  padding: 0 20px 20px 20px;
  position: relative;
}
.news-ContentImg {
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.news-Share {
  position: absolute;
  color: #797979;
  right:20px;
  top:313px;
}

.news-ViewBtn {
  color: #141414;
  margin: 10px 0 10px 150px;
  button {
    border: none;
    background: #f2e8df;
    line-height: 34px;
    width: 300px;
  }

  button:hover {
    color:#FFFFFF;
    background: #141414
  }
}
.news-H2 {
  font-size: 24px;
}

.news-H3 {
  font-size: 20px;
}
.news-H4 {
  font-size: 16px;
}

.news-p{
  font-size: 14px;
}

p.news-H3{
  font-weight: bold;
}


.news-LetterSpacing {
  letter-spacing: 0.3rem;
}

.news-NotoSerifTC {
  font-family: 'Noto Serif TC', serif;
}
.news-Merienda {
  font-family: 'Merienda', cursive;
}

.news-Color79 {
  color: #797979;
}

.news-Hr {
  border-color: #dadada;
}

#news-pages-list {
  margin: 10px auto 20px;
  display: flex;
  justify-content: center;
  .news-pages {
    width: 36px;
    height: 36px; 
    line-height: 36px;
    font-size: 14px;
    font-family: 'Noto Serif TC', serif;
    text-decoration: none;
    border: 1px solid #dadada;
    color: #141414;
    text-align: center;
    margin: 10px;
    .news-pages-arrows {
      font-size: 20px;
      margin: 8px;
    }
  }
  .news-pages:hover {
    background: #f2e8df;
  }
}
