.news-Sliders {
  width: 1440px;
  height: 600px;
  margin: 90px auto 50px;
}

.news-SlidersImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.news-SlidersArrow {
  color: #dadada;
  font-size: 48px;
  margin: auto;
}
.news-SlidersArrow:hover {
  color: #141414;
  font-size: 48px;
}
