.news-pages-ContentContainer {
  width: 960px;
  margin: 50px auto 20px;
}

.news-pages-ContentContent {
  width: 960px;
  margin: 0 auto;
}

.news-pages-ContentHr {
  color: #797979;
  margin: 20px auto;
}

.news-pages-Connection {
  text-align: center;
}

.news-pages-ul {
  justify-content: center;

  li {
    width: 100px;
    height: 100px;
    background: #f2e8df;
    margin: 20px;
    line-height: 50px;

    a {
      text-decoration: none;
      display: block;
      color: #141414;
      font-size: 16px;
    }

    a:hover {
      color: #ffffff;
      background: #141414;
    }
  }
}

.news-pages-ContentBack {
  margin: 10px auto;
  border: 1px solid #141414;
  width: 150px;
}

.news-pages-ContentBtn{
    line-height: 28px;
    color:#141414;
    display: block;
}
.news-pages-ContentBtn:hover{
    line-height: 28px;
    color:#FFFFFF;
    background: #141414;
    text-decoration: none;
}



