.news-CategoryContainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

.news-Category {
  max-width: 640px;
}

.news-Category ul {
  list-style: none;
  margin: 0;
}
.news-Category li {
  width: 160px;
  border: 1px solid #141414;
  text-align: center;

  a {
    font-size: 16px;
    line-height: 36px;
    display: block;
    color: #141414;
  }
}

.news-Category li:hover {
  a {
    color: #ffffff;
    text-decoration: none;
  }
  background: #141414;
}

.news-Dropdown {
  margin-left: 40px;
  line-height: 36px;
}

.news-DropdownNews {
  display: none;
}

@media (max-width: 768px) {
  .news-CategoryContainer {
    padding: 10px;
  }
  .news-Category {
    display: none;
  }
  .news-Dropdown {
    margin: 0 auto;
  }
  .news-DropdownNews {
    display: block;
  }
}
