@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

.News-Sliders {
  width: 1440px;
  height: 600px;
  margin: 0 auto 50px;
}

.News-SlidersImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.News-SlidersArrow {
  color: #dadada;
  font-size: 48px;
  margin: auto;
}
.News-SlidersArrow:hover {
  color: #141414;
  font-size: 48px;
}
