@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

.News-Navbar {
  width: 100%;
  height: 80px;
  background: pink;
  margin-bottom: 50px;
}
