.AnyQuestionAll {
  width: 100%;
}
.text {
  margin: 110px 0 0 0;
}
.AnyQuestionContainer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-size: var(--p);
  font-family: var(--main-title-chinese);
  color: var(--main-colorblock);
}
.AnyQuestionH2 {
  margin: 40px 0 40px 0;
  font-size: var(--h3);
}
.AnyQuestionCardFlex {
  display: flex;
}
.AnyQuestionCard {
  width: 140px;
  height: 190px;
  border: 1px solid var(--main-colorf2e);
  margin: 0 20px 0 20px;
}

.AnyQuestionCardLeft {
  margin: 0 20px 0 50px;
}
.AnyQuestionCardRight {
  margin: 0 50px 0 20px;
}
.AnyQuestionCardIcon {
  font-size: 100px;
  margin: 25px;
  color: #141414;
}
.AnyQuestionCardIconVideo {
  font-size: 90px;
  margin: 25px 25px 35px 25px;
  color: #141414;
}
.AnyQuestionA {
  color: #141414;
  // background-color: black;
}
.AnyQuestionNorthH3 {
  font-size: 20px;
  margin: 20px auto;
}
.AnyQuestionA a:hover {
  color: #141414;

  // background-color: black;
}
.AnyQuestionCardIconH2 {
  padding: 5px 0 0 0;
  border-top: 1px solid var(--main-colorf2e);
  text-align: center;
  font-size: var(--h3);
  color: #141414;
}

.AnyQuestionNorthH2 {
  margin: 40px 0 20px 0;
  font-size: var(--h3);
}
.AnyQuestionSouthH2 {
  margin: 40px 0 20px 0;
  font-size: var(--h3);
}
.AnyQuestion2Flex {
  margin: 60px auto;
  display: flex;
}
.AnyQuestion2Width {
  margin: 0px auto;
  width: 380px;
  p {
    // margin: 10px auto;
  }
}
@media (max-width: 920px) {
  .AnyQuestionContainer {
    max-width: 700px;
  }
  .AnyQuestionCard {
    width: 120px;
    margin: 0 10px 0 10px;
  }
  .AnyQuestionCardIcon {
    font-size: 80px;
    margin: 20px;
  }
  .AnyQuestionCardIconVideo {
    font-size: 70px;
    margin: 25px;
  }
}
@media (max-width: 670px) {
  .AnyQuestionContainer {
    max-width: 500px;
  }
  .AnyQuestionCard {
    width: 100px;
    margin: 0 10px 0 10px;
    height: 120px;
  }
  .AnyQuestionH2 {
    margin: 40px 0 20px 0;
    font-size: var(--h1);
    text-align: center;
  }
  .AnyQuestionCardIcon {
    font-size: 60px;
    margin: 10px;
  }
  .AnyQuestionCardIconVideo {
    font-size: 60px;
    margin: 10px;
  }
  .AnyQuestionCardIconH2 {
    padding: 0px;
    font-size: var(--h4);
  }
  .AnyQuestion2Flex {
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 490px) {
  .AnyQuestionContainer {
    max-width: 300px;
  }

  .AnyQuestionCardFlex {
    display: inline-block;
  }
  .AnyQuestionCard {
    width: 200px;
    margin: 20px 50px;
    height: 210px;
    svg {
      margin: 20px 40px;
      // margin: 0px 0px 0px 50px;
    }
  }
  .AnyQuestionH2 {
    font-size: 20px;
  }

  .AnyQuestion2Flex {
    margin: 30px auto;
  }
  .AnyQuestionA {
    padding: 0px;
  }
  .AnyQuestionCardIcon {
    font-size: 120px;

    text-align: center;
  }
  .AnyQuestionH2 {
    margin: 0px;
  }
  .AnyQuestionCardIconH2 {
    // padding: 40px 0 0 0;
    // font-size: 14px;
    padding: 5px 0px;
    font-size: var(--h3);
  }
  .AnyQuestionCardIconVideo {
    font-size: 120px;
    text-align: center;
    margin: 0px 0px 0px 30px;
  }
  .AnyQuestionNorthH3 {
    font-size: var(--h2);
    p {
      font-size: var(--p);
    }
  }
  .AnyQuestion2Width {
    width: 300px;
  }
}
