.Text123 {
  margin: 110px 0 0 0;
}
.AnyQuestionActionAll {
  max-width: 100%;
}
.AnyQuestionActionContainer {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-size: var(--p);
  font-family: var(--main-title-chinese);
  color: #141414;
}
.AnyQuestionActionFlex {
  display: flex;
  margin: 0px auto;
}

.AnyQuestionActionCard {
  width: 140px;
  height: 180px;
  border: 1px solid #141414;

  margin: 0 20px 0 20px;
}
.AnyQuestionActionCardLeft {
  margin: 0 50px;
}
.AnyQuestionActionCardIcon {
  font-size: 100px;
  margin: 25px;
}
.AnyQuestionActionCardIconH2 {
  padding: 5px 0 0 0;
  border-top: 1px solid #141414;
  text-align: center;
  font-size: var(--h3);
}
.AnyQuestionActionTable {
  margin: 0px 0px 100px 0px;
  width: 100%;
  td {
    width: 800px;
  }
  input {
    min-width: 100%;
    text-align: left;
    padding: 10px;
    background: #fff;
    border: 1px solid #141414;
    // border-right: 1px solid transparent;
  }
}
.AnyQuestionActionIcon {
  position: relative;
  right: 100px;
  font-size: 40px;
}
@media (max-width: 1120px) {
  .AnyQuestionActionContainer {
    width: 600px;
    margin: 0px 20px;
  }
  .AnyQuestionActionFlex {
    display: inline-block;
  }
  .AnyQuestionActionTable {
    margin: 0px 0px 100px 0px;
    width: 100%;
    margin: 0px auto;
    div {
      width: 800px;
    }
    input {
      min-width: 100%;
      text-align: left;

      padding: 10px;
      background: #fff;
      border: 1px solid #141414;
      // border-right: 1px solid transparent;
    }
  }
  .AnyQuestionActionCardLeft {
    margin: 0 0 20px 0;
  }
  .AnyQuestionActionRwd {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 830px) {
  .AnyQuestionActionTable {
    div {
      width: 700px;
    }
  }
}
@media (max-width: 721px) {
  .AnyQuestionActionTable {
    div {
      width: 600px;
    }
  }
}
@media (max-width: 620px) {
  .AnyQuestionActionContainer {
    width: 500px;
  }
  .AnyQuestionActionTable {
    div {
      width: 500px;
    }
    .AnyQuestionActionIcon {
      right: 100px;
      top: 10px;
      font-size: 30px;
    }
  }
}
@media (max-width: 532px) {
  .AnyQuestionActionContainer {
    width: 450px;
  }
  .AnyQuestionActionTable {
    div {
      width: 350px;
    }
  }
}
@media (max-width: 414px) {
  .AnyQuestionActionContainer {
    width: 300px;
  }
  .AnyQuestionActionTable {
    div {
      width: 300px;
    }
  }
}
