@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --main-colorfff: #fff;
  --main-colorblock: #141414;
  --main-color79: #797979;
  --main-colorda: #dadada;
  --mail-colorf2: #f2f2f2;
  --main-colorf2e: #f2ebdf; // 米色
  --main-colorfb2: #fb2643;
  --main-title-english: 'Merienda', cursive;
  --main-title-chinese: 'Noto Serif TC', serif;
  --nav-height: 5rem; // 80px
  --margin: 11.25rem; // 180px
  --h1: 2.25rem; // 36px
  --h2: 1.5rem; // 24px
  --h3: 1.42rem; // 20px
  --h4: 1.14rem; // 16px
  --p: 1rem;
  --h5: 0.92rem; // 13px
  --h6: 0.85rem; // 12px
}

.home-d-flex {
  display: flex;
}

.home-nav-body {
  // background-color: #bfa;
  width: 100vw;
  height: var(--nav-height);
  line-height: var(--nav-height);
  padding: 3.25rem 0;
  position: fixed;
  top:0;
  z-index: 999;
  transition: .5s;

  .home-burger,#Homeburger{
    display: none;
  }

  .home-navlist {
    flex-grow: 1;
    height: var(--nav-height);
    line-height: var(--nav-height);
    margin-left: var(--margin);
    justify-content: center;
    // background-color: coral;

    // courses
    .home-courses,
    .home-videos,
    .home-instrument,
    .home-news,
    .home-about {
      font-family: var(--main-title-english);
      position: relative;
      z-index: 999;

      .home-courses-list,
      .home-videos-list,
      .home-instrument-list,
      .home-news-list,
      .home-about-list {
        display: none;
        width: 80%;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem 0;
        position: absolute;
        top: var(--nav-height);
        left: 20%;
        transform: translateX(-10%);

        a {
          display: block;
          height: 2.5rem;
          line-height: 2.5rem;
          text-decoration: none;
          color: var(--main-colorfff);
          font-family: var(--main-title-chinese);
          font-size: var(--h4);

          &:hover {
            color: var(--main-colorblock);
            background: var(--main-colorf2e);
          }
        }
      }

      .home-courses-list::before,
      .home-videos-list::before,
      .home-instrument-list::before,
      .home-news-list::before,
      .home-about-list::before {
        content: '';
        display: block;
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid rgba(0, 0, 0, 0.8);
        border-left: 1.5rem solid transparent;
        border-right: 1.5rem solid transparent;
        position: absolute;
        top: -1.15rem;
        left: 30%;
        transform: translateY(-60%);
      }

      &:hover .home-courses-list,
      &:hover .home-videos-list,
      &:hover .home-instrument-list,
      &:hover .home-news-list,
      &:hover .home-about-list {
        display: block;
      }
    }

    // logo-middle
    .home-logo-middle {
      img {
        margin-left: 3rem;
        max-width: 18.75rem;
        max-height: 21.25rem;
        object-fit: cover;
      }
    }
  }


.home-navlist .home-items > a,
.home-navuser .home-items > a {
  display: block;
  padding: 0 2.14rem;
  text-decoration: none;
  color: var(--main-colorfff);
  font-size: var(--h1);
}
}

// 右邊nav-user區
  .home-navuser {
    width: 15%;
    font-size: var(--h1);
    height: var(--nav-height);
    margin-right: var(--margin);
    justify-content: center;
    position: relative;
    // background-color: chocolate;

    .home-username{
      padding: 0 2.14rem;
      text-align: center;
      color:var(--main-colorfff);
    }

    // usericon
    .home-nav-userlogin{
        width: 120px;
        color:var(--main-colorfff);
        font-family: var(--main-title-chinese);
        font-size: var(--h4);
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem 0;
        position: absolute;
        top:var(--nav-height);
        left: 50%;
        transform: translateX(-85%);
        display: none;

        &::before{
          content: '';
          display: block;
          border-top: 1.5rem solid transparent;
          border-bottom: 1.5rem solid rgba(0, 0, 0, 0.8);
          border-left: 1.5rem solid transparent;
          border-right: 1.5rem solid transparent;
          position: absolute;
          top: -1.15rem;
          left: 30%;
          transform: translateY(-60%);
        }

          a{
            height: 2.5rem;
            line-height: 2.5rem;
            padding-left: 1.5rem;
            text-decoration: none;
            cursor: pointer;
            display: block;

            &:hover{
              color:var(--main-colorblock);
              background: var(--main-colorf2e);
            }
          }
        }

        // home-shopping
    .home-shopping{
      position: relative;

      .home-shopping-point{
        width: 20px;
        height: 20px;
        line-height: 20px;
        color:var(--main-colorfff);
        font-size: var(--h6);
        text-align: center;
        background: red;
        border-radius: 50%;
        position: absolute;
        top:10px;
        left: 60%;
        margin: 0;
      }

      .nav-shopping-cart{
        width: 300px;
        height: 400px;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top:var(--nav-height);
        left: -70%;
        transform: translateX(-10%);
        display: none;

        &::before{
          content: '';
          display: block;
          border-top: 1.5rem solid transparent;
          border-bottom: 1.5rem solid rgba(0, 0, 0, 0.8);
          border-left: 1.5rem solid transparent;
          border-right: 1.5rem solid transparent;
          position: absolute;
          top: -1.15rem;
          left: 42%;
          transform: translateY(-60%);
        }
      }

      &:hover .nav-shopping-cart{
        display: block;
      }
    }

  }

  .home-usre:hover .home-nav-userlogin{
    display: block;
  }


  .home-line {
    font-size: var(--h1);
    color: var(--main-colorfff);
  }



.home-logo-left {
  width: 10%;
  height: var(--nav-height);
  margin-left: var(--margin);
  // background: chartreuse;
  display: none;
  img {
    height: 100%;
    object-fit: cover;
  }

}


// navbar固定
.home-navwrap {
  // position: fixed;
  // top: 0;

  .home-nav-body {
    width: 100vw;
    padding: 0;
    background: var(--main-colorfff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.315);
    transition: 0.5s;
    margin: 0;

    .home-navlist {
      margin-left: 0;
    }

    .home-logo-middle img {
      display: none;
    }

    .home-logo-left {
      display: block;
    }

    .home-navuser .home-usre .home-username{
      color:var(--main-colorblock);
    }

  }

.home-line {
  font-size: var(--h4);
  color:var(--main-colorblock);
}

  .home-navlist .home-items > a{
    color: var(--main-colorblock);
    font-size: var(--h3);
    padding: 0 4.28rem;
  }


  .home-navuser .home-items > a {
    color: var(--main-colorblock);
  }
}

// RWD
@media screen and (max-width:768px){
  // Navbar
  .home-nav-body{
    width: 100vw;

    // background-color: burlywood;
    padding: 0;
    transform: .5s;
    background: var(--main-colorfff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.315);

    // 漢堡選單
    .home-burger{
      width: 10%;
      font-size: var(--h1);
      display: block;
      text-align: right;
      margin: 0 2rem;
      order: 3;
      // background-color: crimson;
    }

    // courses~about區
    .home-navlist {
      width: 100vw;
      height: 0vh;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: var(--nav-height);
      left: 0;
      margin: 0;
      // text-indent: 2rem;
      box-sizing: border-box;
      transition: 0.5s;
      overflow: hidden;
      z-index: 999;

      // 各項目
      .home-courses,
      .home-videos,
      .home-instrument,
      .home-news,
      .home-about {

        a{
          width: 100%;
          display: block;
          padding: 0;
          padding-left: 5rem;
          box-sizing: border-box;
        }

        &:active a{
          color:var(--main-colorfb2);
          background: rgba(255, 255, 255,.3);
        }

        // 下拉式選單
        .home-courses-list,
        .home-videos-list,
        .home-instrument-list,
        .home-news-list,
        .home-about-list {
          display: none;

          a {
            display: none;

            &:hover {
              display: none;
            }
          }
        }

        // 三角型
        .home-courses-list::before,
        .home-videos-list::before,
        .home-instrument-list::before,
        .home-news-list::before,
        .home-about-list::before {
          content: '';
          display: none;
        }

        &:hover .home-courses-list,
        &:hover .home-videos-list,
        &:hover .home-instrument-list,
        &:hover .home-news-list,
        &:hover .home-about-list {
          display: none;
        }
      }
      // logo-middle
      .home-logo-middle {
        display: none;
      }
    }

    // 漢堡選單觸發
    #Homeburger:checked ~ .home-navlist{
      height: 75vh;
      overflow: none;
    }

    // navbar右側 user & shopping
    .home-navuser .home-items > a {
      padding: 0 1.5rem ;
      color: var(--main-colorblock);
    }
  }

  // navbra區隔線
  .home-line{
    display: none;
  }

  // 左邊logo
  .home-logo-left {
    width: 20%;
    height: 95%;
    margin-left: 1rem;
    // background-color: coral;
    display: block;
    order: 1;

    a{
      padding: 0;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // 右邊user區
  .home-navuser{
    margin: 0;
    // padding-left: 1.5rem;
    // flex-grow: 1;
    // order: 2;
    padding: 0 ;
    flex-grow: 1;
    order: 2;
    justify-content: space-evenly;
    // background-color: cornflowerblue;
  }

  // navbar下滑後fixed樣式區
  .home-navwrap {
    .home-nav-body {
      width: 100vw;
      .home-navlist {
        margin-left: 0;

        .home-courses,
        .home-videos,
        .home-instrument,
        .home-news,
        .home-about{

          a{
            color:var(--main-colorfff);
            font-size: var(--h1);
            padding: 0;
            padding-left: 5rem;

            &:hover{
              color:var(--main-colorfb2);
            }
          }
        }
      }

      .home-logo-middle img {
        display: none;
      }

      .home-logo-left {
        display: block;
      }

    }
  }

  // 右邊usericon下拉
  .home-nav-userlogin{
    display: none;

    &::before{
      display: none;
    }

      a{
        display: none;

        &:hover{
          display: none;
        }
      }
  }

  .home-navuser .home-username{
    color:var(--main-colorblock);
  }

  .home-navuser .home-shopping:hover .nav-shopping-cart{
    display: none;

    &::before{
      display: none;
    }
  }
  &:hover .nav-shopping-cart{
    display: none;
  }
}


