.videoPassword-main {
  width: 812px;
  margin: 198px auto auto 10%;
  /* background-color: thistle; */
  position: relative;
}

.videoPassword-top-titleName {
  margin: 0 auto 80px auto;
  text-align: center;
}

.videoPassword-top-ID {
  position: absolute;
  right: 0;
  margin-top: -20px;
}
.videoPassword-top-hr {
  border: 1.5px #f2f2f2 solid;
}

.videoPassword-top-Img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgb(134, 134, 152);
  margin: 0 auto 5px auto;
}

.videoPassword-form-input {
  display: flex;
  position: relative;
}

.videoPassword-form > label {
  height: 56px;
  margin: 20px auto 0 auto;
  border-bottom: 2px var(--main-colorda) solid;
  width: 100%;
  max-width: 500px;
}
.videoPassword-form > label:hover {
  border-bottom: 2px #141414 solid;
}
.videoPassword-form {
  display: flex;
  flex-direction: column;
}

.videoPassword-form-button {
  width: 150px;
  height: 50px;
  background-color: #f2e8df;
  border-radius: 0;
  border: none;
  margin: 60px auto 60px auto;
}

.videoPassword-form-button:hover {
  color: white;
  background-color: #141414;
}

.videoPassword-eyes {
  display: inline;
  svg {
    width: 18px;
    height: 20px;
  }
}

.videoPassword-inp {
  position: absolute;
  bottom: 0;
  margin: 20px 0 0 48px;
  font-size: 16px;
  margin-bottom: 2px;
  width: 100%;
}
.videoPassword-inp > input {
  width: 85%;
  outline: none;
  background-color: none;
  border: none;
}
@media (max-width: 768px) {
  .videoPassword-main {
    width: 80%;
    margin: 154px auto auto auto;
    /* background-color: thistle; */
    position: relative;
  }

  .videoPassword-form > label {
    height: 56px;
    margin: 20px auto 0 auto;
    border-bottom: 2px var(--main-colorda) solid;
    width: 100%;
  }
  .videoPassword-inp > input {
    width: calc(100% - 18px);
    outline: none;
    background-color: none;
    border: none;
    font-family: var(--main-title-chinese);
  }
  .videoPassword-inp {
    position: absolute;
    bottom: 0;
    margin: 20px 0 0 0px;
    font-size: 16px;
    margin-bottom: 2px;
    width: 100%;
  }
  .videoPassword-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .videoPassword-top-titleName {
    margin: 0 auto 25px auto;
  }
  .videoPassword-top-hr {
    margin: 0;
  }
  .videoPassword-inp {
    position: absolute;
    bottom: 0;
    margin: 20px 0 0 0px;
    font-size: 16px;
    margin-bottom: 2px;
    width: 100%;
  }
  .videoPassword-form-button {
    width: 100%;
    height: 50px;
    background-color: #f2e8df;
    border-radius: 0;
    border: none;
    margin: 11px auto 40px auto;
    font-family: var(--main-title-chinese);
  }
}
