.video-edit-page {
  width: 812px;
  margin: 198px auto auto 10%;
  // border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-bottom: 80px;
  }

  .video-edit-form {
    position: relative;
    margin: auto;
    width: 100%;

    .video-edit-new-btn {
      display: none;
    }

    .video-edit-add {
      width: 100%;
      height: 450px;
      border: 1px solid #141414;
      text-align: center;
      margin: auto auto 10px auto;
      .video-edit-file-text {
        margin-top: 50px;
        color: var(--main-color79);
      }
      .video-edit-icon-div {
        .video-edit-icon {
          color: var(--main-color79);
          width: 100px;
          height: 100px;
        }
      }
    }
    .video-edit-content {
      width: 60%;
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      .video-edit-label {
        margin: 20px auto 0 auto;
        width: 100%;
        border-bottom: 2px var(--main-colorda) solid;
        input {
          width: 100%;
          border: none;
          outline: none;
          margin: 20px 0 1px 48px;
        }
        select {
          width: 90%;
          border: none;
          outline: none;
          margin: 20px 0 5px 45px;
        }
      }
      .video-edit-label:hover {
        border-bottom: 2px var(--main-colorblock) solid;
      }
      .video-edit-content-text {
        margin: 20px auto 0 auto;
        width: 100%;
        textarea {
          width: 100%;
          height: 278px;
          margin: 20px 0 0 0;
        }
      }
      .video-edit-add-btn {
        width: 150px;
        height: 50px;
        margin: 60px auto 60px auto;
        border: none;
        background: #f2e8df;
      }
      .video-edit-add-btn:hover {
        background: #141414;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .video-edit-page {
    width: 80%;
    margin: 154px auto auto auto;
    .video-edit-form {
      .video-edit-add {
        height: 300px;
      }
      .video-edit-new-btn {
        display: block;
        height: 50px;
        width: 100%;
        background: var(--main-colorblock);
        color: var(--main-colorfff);
        border: none;
      }
      .video-edit-new-btn:hover {
        background: var(--main-colorf2e);
        color: var(--main-colorblock);
      }
      .video-edit-content {
        width: 100%;
        .video-edit-label {
          width: 100%;
          input {
            margin-left: 0px;
          }
          select {
            margin-left: 0px;
            width: 100%;
          }
        }
        .video-edit-add-btn {
          width: 100%;
          margin: 11px auto 40px auto;
        }
      }
    }
  }
}
