.ForumAll {
  width: 100%;
}
//我要發問彈出視窗
.ForumBtn01 {
  width: 350px;
  margin: 0px auto;
  border: 1px solid #141414;
  position: absolute;
  top: 40%;
  right: 40%;
  background-color: white;
  z-index: 998;
  padding: 50px;
  input {
    width: 200px;
    height: 30px;
    font-size: 20px;
  }
  textarea {
    width: 200px;
  }
  button {
    width: 50px;
    height: 50px;
    border: none;
    background: #f2ebdf;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ButtonSend {
  width: 250px !important;
  margin: 0px auto;
  input {
    background: #f2ebdf;
    border: none;
    margin: 30px 30px 30px 11px;
  }
}
.ForumBtnAction {
  width: 300px;
  height: 100px;
}
.BackgroundForum {
  background-image: url('../../img/About/背景圖片1.jpg');
  height: 300px;
  width: 100%;
  background-size: cover;
}
.ForumHeight {
  //   background: red;
  height: 70px;
}
.ForumContainer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  font-family: var(--main-title-chinese);
  color: #141414;
}
.ForumTitle {
  // max-width: 960px;
  height: 100px;
}
/* Forum-button */
.ForumButton {
  /* text-align: right; */
  font-size: 1.14rem;
  float: right;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  background: #f2ebdf;
  border: 0px;
  width: 100px;
  height: 50px;
}

// ForumCardAll
.ForumCardFlex {
  display: flex;
  flex-wrap: wrap;
}
.ForumCard {
  // display: flex;
  max-width: calc(480px - 40px);
  padding: 20px;
  flex: 0 0 50%;
}

// CardImg

.ForumCardImg {
  margin: 20px;
  width: 100px;
  // height: 50px;
  //   border: 1px solid red;
  border-radius: 50%;
  background-image: url(../../img/About/女生002.jpg);
  background-size: cover;
}
.ForumCardTeacherImg {
  margin: 20px;
  width: 50px;
  height: 50px;
  //   border: 1px solid red;
  border-radius: 50%;
  background-image: url(../../img/About/女生002.jpg);
  background-size: cover;
}

/* Forum-buttonAns */
.ForumBtnAns {
  /* text-align: right; */
  font-size: 1.14rem;

  margin: 110px 20px 20px 0px;
  padding: 10px;
  background: #f2ebdf;
  border: 0px;
  width: 100px;
  height: 50px;
}

// CardTitle

.ForumCardTitle {
  display: flex;
  max-width: 460px;
}
// CardH3元素

.ForumCardH3 {
  font-size: var(--h3);
  width: 200px;
  margin: 20px;
}
//綜合

.ComprehensiveButton {
  /* text-align: right; */
  font-size: 1.14rem;
  position: relative;
  right: 0px;
  bottom: 0px;
  margin: 100px 0px 0px 20px;
  //   padding: 10px;
  background: #f2ebdf;
  border: 0px;
  width: 50px;
  height: 25px;
}
// CardDiv元素

.ForumCardDiv {
  display: flex;
  border: 1px solid #f2ebdf;
  max-width: 460px;
  margin: 0px;
}
// CardP元素

.ForumCardP {
  width: 420px;
  margin: 20px;
  // letter-spacing: 10px;
}

.ForumCardP2 {
  display: inline-block;
  width: 350px;
  margin: 20px 10px 20px 20px;
  // letter-spacing: 10px;
}
.ForumCardP002 {
  display: none;
  width: 350px;
  margin: 20px 10px 20px 20px;
  // letter-spacing: 10px;
}

// ForumChecked
.ForumChecked {
  text-align: center;
  margin: 10px;
  button {
    margin: 10px;
  }
}
#Forum-pages-list {
  margin: 30px auto 50px;
  display: flex;
  justify-content: center;
}
.Forum-pages-arrows {
  width: 20px;
  height: 20px;
}
.Forum-pages {
  width: 36px;
  height: 36px;
  line-height: 32px;
  font-size: 14px;
  font-family: 'Noto Serif TC', serif;
  text-decoration: none;
  border: 1px solid #dadada;
  color: #141414;
  text-align: center;
  margin: 10px;
}
@media (max-width: 1000px) {
  .ForumContainer {
    max-width: 480px;
    margin: 0px auto;
  }
  .ForumCard {
    display: inline-block;
  }
}
@media (max-width: 414px) {
  .ForumCard {
    max-width: calc(480px - 80px);
  }
  .ForumCardImg {
    width: 80px;
    height: 80px;
    margin: 5px;
  }
  .ForumCardH3 {
    margin: 5px;
    padding: 5px;
  }
  .ForumCardP {
    margin: 0px;
    padding: 5px;
  }
  .ForumBtn01 {
    right: 5px;
    width: 400px;
  }
}
@media (max-width: 376px) {
  .ForumContainer {
    max-width: 376px;
  }
  .ForumCard {
    width: 350px;
  }
  .ForumCardImg {
    width: 50px;
    height: 50px;
  }
  .ComprehensiveButton {
    white-space: nowrap;
  }
  .ForumBtnAns {
    white-space: nowrap;
  }
  .ForumCardP2 {
    width: 250px;
  }
}
@media (max-width: 320px) {
  .ForumContainer {
    max-width: 320px;
  }
}
