.nav-d-flex {
  display: flex;
}

.nav-body-others {
  //   background: #bfa;
  width: 100%;
  height: var(--nav-height);
  line-height: var(--nav-height);
  background: var(--main-colorfff);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.315);
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 999;

  .home-nav-burger,
  #HomeNavburger {
    display: none;
  }

  .nav-logo-left-others {
    width: 10%;
    height: var(--nav-height);
    margin-left: 6.5vw;
    display: block;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .nav-navlist-others {
    flex-grow: 1;
    height: var(--nav-height);
    line-height: var(--nav-height);
    justify-content: center;
    // background-color: coral;

    // courses
    .nav-courses-others,
    .nav-videos-others,
    .nav-instrument-others,
    .nav-news-others,
    .nav-about-others {
      font-family: var(--main-title-english);
      position: relative;
      z-index: 999;

      .nav-courses-list-others,
      .nav-videos-list-others,
      .nav-instrument-list-others,
      .nav-news-list-others,
      .nav-about-list-others {
        display: none;
        width: 80%;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem 0;
        position: absolute;
        top: var(--nav-height);
        left: 20%;
        transform: translateX(-10%);

        a {
          display: block;
          height: 2.5rem;
          line-height: 2.5rem;
          text-decoration: none;
          color: var(--main-colorfff);
          font-family: var(--main-title-chinese);
          font-size: var(--h4);

          &:hover {
            color: var(--main-colorblock);
            background: var(--main-colorf2e);
          }
        }
      }

      .nav-courses-list-others::before,
      .nav-videos-list-others::before,
      .nav-instrument-list-others::before,
      .nav-news-list-others::before,
      .nav-about-list-others::before {
        content: '';
        display: block;
        // border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid rgba(0, 0, 0, 0.8);
        border-left: 1.5rem solid transparent;
        border-right: 1.5rem solid transparent;
        position: absolute;
        top: -0.57rem;
        left: 35%;
        transform: translateY(-60%);
      }

      &:hover .nav-courses-list-others,
      &:hover .nav-videos-list-others,
      &:hover .nav-instrument-list-others,
      &:hover .nav-news-list-others,
      &:hover .nav-about-list-others {
        display: block;
      }
    }
  }

  .nav-navlist-others .nav-items-others > a,
  .nav-navuser-others .nav-items-others > a {
    display: block;
    text-decoration: none;
    color: var(--main-colorblock);
  }

  .nav-navlist-others .nav-items-others > a {
    color: var(--main-colorblock);
    font-size: var(--h3);
    // padding: 0 4.28rem;
    padding: 0 2.5vw;
  }

  .nav-navuser-others .nav-items-others > a {
    // padding: 0 2.14rem;
    padding: 0 2.5vw;
    font-size: var(--h1);
    text-align: center;
  }

  // nav-userarea
  .nav-navuser-others {
    width: 15%;
    font-size: var(--h1);
    height: var(--nav-height);
    margin-right: var(--margin);
    justify-content: center;
    align-items: center;
    position: relative;
    // background-color: chocolate;

    .home-username {
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 2.14vw;
      text-align: center;
      color: var(--main-colorblock);
      text-decoration: none;
      overflow: hidden;
      // border: 1px solid red;
      border-radius: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        vertical-align: middle;
      }
    }

    .home-nav-userlogin {
      width: 120px;
      color: var(--main-colorfff);
      font-family: var(--main-title-chinese);
      font-size: var(--h4);
      background: rgba(0, 0, 0, 0.8);
      padding: 1rem 0;
      position: absolute;
      top: var(--nav-height);
      left: 50%;
      transform: translateX(-65%);
      display: none;

      &::before {
        content: '';
        display: block;
        // border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid rgba(0, 0, 0, 0.8);
        border-left: 1.5rem solid transparent;
        border-right: 1.5rem solid transparent;
        position: absolute;
        top: -0.57rem;
        left: 30%;
        transform: translateY(-60%);
      }

      a,.home-username-logout {
        height: 2.5rem;
        line-height: 2.5rem;
        padding-left: 1.5rem;
        text-decoration: none;
        cursor: pointer;
        display: block;
        color: var(--main-colorfff);

        &:hover {
          color: var(--main-colorblock);
          background: var(--main-colorf2e);
        }
      }


    }

    // nav-shopping
    .nav-shopping {
      position: relative;

      .nav-shopping-area{
        cursor: pointer;
      }

      .nav-shopping-point {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: var(--main-colorfff);
        font-size: var(--h6);
        text-align: center;
        background: red;
        border-radius: 50%;
        position: absolute;
        top: 12%;
        left: 75%;
        margin: 0;
      }

      .nav-shopping-cart {
        width: 300px;
        height: 400px;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: var(--nav-height);
        left: 0%;
        transform: translateX(-33%);
        display: none;

        &::before {
          content: '';
          display: block;
          // border-top: 1.5rem solid transparent;
          border-bottom: 1.5rem solid rgba(0, 0, 0, 0.8);
          border-left: 1.5rem solid transparent;
          border-right: 1.5rem solid transparent;
          position: absolute;
          top: -0.57rem;
          left: 33%;
          transform: translateY(-60%);
        }
      }

      &:hover .nav-shopping-cart {
        display: block;
      }
    }
  }

  .nav-usre:hover .home-nav-userlogin {
    display: block;
  }

  .nav-line-others {
    font-size: var(--h1);
    color: var(--main-colorblock);
  }
}

@media screen and (max-width: 768px) {
  // Navbar
  .nav-body-others {
    width: 100vw;
    // background-color: burlywood;
    padding: 0;
    transform: 0.5s;
    background: var(--main-colorfff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.315);

    // 漢堡選單
    .home-nav-burger {
      width: 10%;
      font-size: var(--h1);
      display: block;
      text-align: right;
      margin: 0 2rem;
      order: 3;
      // background-color: crimson;
    }

    // courses~about區
    .nav-navlist-others {
      width: 100vw;
      height: 0vh;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: var(--nav-height);
      left: 0;
      margin: 0;
      // text-indent: 2rem;
      box-sizing: border-box;
      transition: 0.5s;
      overflow: hidden;
      z-index: 999;

      // 各項目
      .nav-courses-others,
      .nav-videos-others,
      .nav-instrument-others,
      .nav-news-others,
      .nav-about-others {
        a {
          width: 100%;
          display: block;
          padding: 0;
          padding-left: 5rem;
          box-sizing: border-box;
        }

        &:active a {
          color: var(--main-colorfb2);
          background: rgba(255, 255, 255, 0.3);
        }

        // 下拉式選單
        .nav-courses-list-others,
        .nav-videos-list-others,
        .nav-instrument-list-others,
        .nav-news-list-others,
        .nav-about-list-others {
          display: none;

          a {
            display: none;

            &:hover {
              display: none;
            }
          }
        }

        // 三角型
        .nav-courses-list-others::before,
        .nav-videos-list-others::before,
        .nav-instrument-list-others::before,
        .nav-news-list-others::before,
        .nav-about-list-others::before {
          content: '';
          display: none;
        }

        &:hover .nav-courses-list-others,
        &:hover .nav-videos-list-others,
        &:hover .nav-instrument-list-others,
        &:hover .nav-news-list-others,
        &:hover .nav-about-list-others {
          display: none;
        }
      }
    }

    // 漢堡選單觸發
    #HomeNavburger:checked ~ .nav-navlist-others {
      height: 75vh;
      overflow: none;
    }

    // navbar右側 user & shopping
    .nav-navlist-others .nav-items-others > a {
      padding: 0 15%;
      // width: 80%;
      // border-bottom: 1px solid var(--main-colorfff);
      color: var(--main-colorfff);
      font-size: var(--h1);

    }
  }

  // 右邊user區
  .nav-body-others .nav-navuser-others {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    order: 2;
    justify-content: space-evenly;
    // background-color: cornflowerblue;
  }

  .nav-body-others .nav-navuser-others .nav-items-others > a {
    font-size: var(--h1);
    margin: 0;
  }

  // navbra區隔線
  .nav-line-others {
    display: none;
  }

  // 左邊logo
  .nav-body-others .nav-logo-left-others {
    width: 20%;
    height: 95%;
    margin-left: 6.5vw;
    // background-color: coral;
    display: block;
    order: 1;

    a {
      padding: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // 右邊usericon下拉
  .home-nav-userlogin {
    display: none;

    &::before {
      display: none;
    }
    a {
      display: none;

      &:hover {
        display: none;
      }
    }
  }

  .nav-body-others .nav-navuser-others .nav-shopping:hover .nav-shopping-cart {
    display: none;

    &::before {
      display: none;
    }
  }
  &:hover .nav-shopping-cart {
    display: none;
  }
}
