.video-home-page {
  width: 812px;
  margin: 198px auto auto 10%;
  /* background-color: thistle; */
  position: relative;
}

.video-home-title {
  margin: 0 auto 80px auto;
  text-align: center;
}

.video-home-hr {
  border: 1.5px #f2f2f2 solid;
}
.video-home-id {
  position: absolute;
  right: 0;
  margin-top: -20px;
}

.video-home-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid;
  margin: 0 auto 5px auto;
}

.video-home-form > label {
  display: flex;
  position: relative;
  height: 56px;
  margin: 20px auto 0 auto;
  border-bottom: 1px black solid;
  width: 100%;
  max-width: 500px;
}

.video-home-form {
  display: flex;
  flex-direction: column;
}

.video-home-form-btn {
  width: 150px;
  height: 50px;
  background-color: #f2e8df;
  border-radius: 0;
  border: none;
  margin: 60px auto 60px auto;
}

.video-home-form-btn:hover {
  color: white;
  background-color: #141414;
}
.svg-eye {
  width: 20px;
  height: 20px;
  position: absolute;
}
.video-home-inp {
  position: absolute;
  bottom: 0;
  margin: 20px 0 0 48px;
  font-size: 16px;
  margin-bottom: 2px;
}
.video-home-inp > input {
  width: 430px;
  outline: none;
  background-color: none;
  border: none;
}
