.video-list-page {
  width: 812px;
  margin: 198px auto auto 10%;
  .video-list-title {
    text-align: center;
    margin-bottom: 80px;
  }
  .video-list-search {
    height: 100px;

    border-bottom: 1px solid;
    .video-list-input {
      width: 85%;
      height: 40px;
    }
    .video-list-search-btn {
      width: 15%;
      height: 40px;
      background: #141414;
      color: #ffffff;
      border: none;
    }
    .video-list-search-btn:hover {
      background: #f2e8df;
      color: #141414;
      border: none;
      outline: none;
    }
    p {
      color: red;
      margin: 20px 0 20px 15px;
    }
  }
  .video-list-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
    padding: 10px;
    .video-list-features-tool {
      display: flex;
      align-items: center;
      .video-list-all-checkbox {
        width: 25px;
        height: 25px;
      }
      a {
        margin-left: 10px;
      }
    }
    .video-list-add {
      position: absolute;
      right: 0px;
      button {
        width: 100px;
        height: 50px;
        background: #141414;
        color: #ffffff;
        border: none;
      }
      button:hover {
        background: #f2e8df;
        color: #141414;
        border: none;
        outline: none;
      }
    }
  }
  .video-list-content {
    width: 100%;
    .video-list-pro-content {
      height: 207px;
      hr {
        border: 1px solid #707070;
        margin: 0;
      }
      .video-list-pro-state {
        height: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      .video-list-pro {
        margin-top: 10px;
        background: #f2f2f2;
        display: flex;
        .video-list-pro-checkbox {
          margin-top: 90px;
          margin-bottom: 90px;
          width: 25px;
          height: 25px;
        }
        img {
          width: 250px;
          border: 1px;
          height: 180px;
          margin: 10px;
        }
        .video-list-pro-text {
          width: 52%;
          padding: 10px;
          p {
            line-height: 30px;
          }
          .video-list-pro-money {
            margin-right: 10px;
            line-height: 30px;
          }
        }
        .video-list-pro-btns {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          button {
            width: 80px;
            height: 40px;
            border: none;
            background: #141414;
            color: #ffffff;
          }
          button:hover {
            background: #f2e8df;
            color: #141414;
            outline: none;
          }
        }
      }
    }
  }
  .video-list-over-line {
    border: 1px solid #707070;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .video-list-page {
    width: 100%;
  }
}
