.video-puton-page {
  width: 812px;
  margin: 198px auto auto 10%;
  // border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-bottom: 80px;
  }

  .video-puton-form {
    position: relative;
    margin: auto;
    width: 100%;
    .video-puton-all-file {
      display: flex;
      .video-puton-file-v {
        width: 50%;
        padding: 10px;
        .video-puton-new-btn {
          width: 100%;
          background: var(--main-colorblock);
          color: var(--main-colorfff);
          border: none;
          height: 50px;
        }

        .video-puton-add {
          width: 100%;
          height: 200px;
          border: 1px solid #141414;
          text-align: center;
          margin: auto auto 10px auto;
          .video-puton-file-text {
            margin: 50px auto 30px auto;
            color: var(--main-color79);
          }
          .video-puton-icon-div {
            .video-puton-icon {
              color: var(--main-color79);
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .video-puton-file-i {
        width: 50%;
        padding: 10px;
        .video-puton-add-img {
          border: 1px solid;
          width: 100%;
          height: 200px;
          margin: auto auto 10px auto;
          text-align: center;
          .video-puton-file-text {
            margin: 50px auto 30px auto;
            color: var(--main-color79);
          }
          .video-puton-icon-div {
            .video-puton-icon {
              color: var(--main-color79);
              width: 50px;
              height: 50px;
            }
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        button {
          width: 100%;
          background: var(--main-colorblock);
          color: var(--main-colorfff);
          border: none;
          height: 50px;
        }
      }
    }
    .video-puton-content {
      width: 70%;
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      .video-puton-label {
        margin: 20px auto 0 auto;
        width: 100%;
        border-bottom: 2px var(--main-colorda) solid;
        input {
          width: 100%;
          border: none;
          outline: none;
          margin: 20px 0 1px 48px;
        }
        select {
          width: 90%;
          border: none;
          outline: none;
          margin: 20px 0 5px 45px;
        }
      }
      .video-puton-label:hover {
        border-bottom: 2px var(--main-colorblock) solid;
      }
      .video-puton-content-text {
        margin: 20px auto 0 auto;
        width: 100%;
        textarea {
          width: 100%;
          height: 278px;
          margin: 20px 0 0 0;
        }
      }
      .video-puton-add-btn {
        width: 150px;
        height: 50px;
        margin: 60px auto 60px auto;
        border: none;
        background: #f2e8df;
      }
      .video-puton-add-btn:hover {
        background: #141414;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .video-puton-page {
    width: 80%;
    margin: 154px auto auto auto;

    h3 {
      margin: auto auto 25px auto;
    }
    .video-puton-form {
      .video-puton-all-file {
        display: block;
        .video-puton-file-v {
          width: 100%;
          .video-puton-add {
            height: 200px;
          }
          .video-puton-new-btn {
            display: block;
            height: 50px;
            width: 100%;
            background: var(--main-colorblock);
            color: var(--main-colorfff);
            border: none;
          }
          .video-puton-new-btn:hover {
            background: var(--main-colorf2e);
            color: var(--main-colorblock);
          }
        }
        .video-puton-file-i {
          width: 100%;
          .video-puton-add-img {
          }
        }
      }

      .video-puton-content {
        width: 100%;
        .video-puton-label {
          width: 100%;
          input {
            margin-left: 0px;
          }
          select {
            margin-left: 0px;
            width: 100%;
          }
        }
        .video-puton-add-btn {
          width: 100%;
          margin: 11px auto 40px auto;
        }
      }
    }
  }
}
