.video-puton-page {
  width: 812px;
  margin: 198px auto auto 10%;
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .video-puton-add {
    width: 812px;
    height: 450px;
    border: 1px solid #141414;
    margin: 0 auto;
  }
  .video-puton-form {
    margin: auto;
    width: 500px;
    select {
      width: 500px;
      border: none;
      outline: none;
    }
    label {
      width: 500px;
      text-align: left;
      display: block;
      height: 60px;
      border-bottom: 1px solid;
      input {
        width: 500px;
        outline: none;
        border: none;
      }
      textarea {
        width: 500px;
        height: 278px;
        display: block;
        outline: none;
      }
    }
    .video-add-button {
      width: 150px;
      height: 50px;
      margin: 0 auto;
      background: #f2e8df;
      border: 0px;
    }
  }
}
