.video-puton-page {
  width: 812px;
  height: 100vh;
  margin: 198px auto auto 10%;
  // border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-bottom: 80px;
  }

  .video-puton-form {
    position: relative;
    margin: auto;
    width: 100%;
    .video-puton-add {
      width: 100%;
      height: 450px;
      border: 1px solid #141414;
      margin: 0 auto;
    }

    label {
      width: 500px;
      text-align: left;
      display: block;
      height: 60px;
      border-bottom: 1px solid;

      select {
        width: 450px;
        border: none;
        outline: none;
        margin-left: 50px;
      }
      input {
        margin-left: 50px;
        width: 500px;
        outline: none;
        border: none;
      }
      textarea {
        width: 500px;
        height: 278px;
        display: block;
        outline: none;
      }
    }
    .video-add-button {
      width: 150px;
      height: 50px;
      margin: 0 auto;
      background: #f2e8df;
      border: 0px;
    }
  }
}
