.product-id-link {
  font-size: 13px;
  color: #141414;
  margin-bottom: 50px;
  font-family: 'Noto Serif TC', serif;
}
.product-id-link:hover {
  text-decoration: none;
  color: #fb2643;
}

#product-id-wrapper {
  //   height: 200px;
  //   width: 930px;
  //   background: lightblue;
  margin: 50px auto;
  margin-bottom: 30px;
  border: 15px solid #f2e8df;
  #product-id-wrapper-hr {
    margin: 15px;
    margin-top: 0;
    border-width: 1.5px;
    border-color: #797979;
  }
  #product-id-intro-wrapper {
    display: flex;
    #product-id-intro-instrument-picture-wrapper {
      // background: khaki;
      width: 480px;
      margin: 15px;
      margin-bottom: 30px;
      border: 1.5px solid #797979;
      #product-id-intro-instrument-picture {
        height: 100%;
        width: 100%;
        object-fit: contain;
        // margin-bottom: 15px;
      }
    }
    #product-id-intro-video-picture-wrapper {
      width: 480px;
      margin: 15px;
      margin-bottom: 30px;
      #product-id-intro-video-picture {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    #product-id-intro-course-picture-wrapper {
      width: 500px;
      margin: 15px;
      margin-bottom: 30px;
      #product-id-intro-course-picture {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    #product-id-intro-text {
      width: 465px;
      // height: 450px;
      padding: 15px;
      // background: hotpink;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      #product-id-intro-text-top {
        #product-id-intro-text-title {
          letter-spacing: 8px;
          font-family: 'Noto Serif TC', serif;
          font-weight: bold;
          margin-bottom: 15px;
        }
        #product-id-intro-text-p {
          margin-bottom: 15px;
          font-size: 14px;
          letter-spacing: 3px;
          line-height: 20px;
          color: #797979;
          font-family: 'Noto Serif TC', serif;
        }
      }
      #product-id-intro-text-bottom {
        #product-id-intro-text-cost-title {
          font-size: 24px;
          color: #797979;
          font-family: 'Noto Serif TC', serif;
          display: inline-block;
          margin-bottom: 15px;
          margin-right: 15px;
        }
        #product-id-intro-text-cost {
          font-size: 24px;
          color: #fb2643;
          font-family: Merienda;
          display: inline-block;
          margin-bottom: 15px;
        }
        #product-id-intro-amount-wrapper {
          margin-bottom: 5px;

          .product-id-intro-amount-btn {
            border: none;
            background-color: transparent;
            .product-id-intro-amount-btn-icon {
              border-radius: 50%;
              // border: 2px solid #141414;
              color: #797979;
              width: 24px;
              height: 24px;
              // line-height: 14px;
              font-size: 10px;
              font-weight: 900;
            }
          }
          #product-id-intro-amount-input {
            border: 1px solid #797979;
            height: 24px;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            color: #797979;
            margin: 0 5px;
          }
        }
        #product-id-intro-stock {
          font-size: 12px;
          font-family: 'Noto Serif TC', serif;
          color: #797979;
          margin-bottom: 15px;
        }
        #product-id-intro-btn-wrapper {
          margin-bottom: 15px;

          .product-id-intro-btn {
            width: 100px;
            height: 40px;
            border: none;
            font-family: 'Noto Serif TC', serif;
          }
          #product-id-intro-cart-btn {
            background: #141414;
            color: #ffffff;
            margin-right: 30px;
          }
          #product-id-intro-favorite-btn {
            background: #f2e8df;
            color: #141414;
          }
          #product-id-intro-btn-add {
            background: #ffffff;
            border: 1px solid #fb2643;
            color: #fb2643;
          }
        }
      }
    }
  }
  .product-instrument-id-intro-wrapper {
    height: 450px;
  }
  .product-video-id-intro-wrapper {
    height: 350px;
  }
  #product-id-desciption-wrapper {
    margin: 15px;
    #product-id-desciption-title {
      font-size: 24px;
      letter-spacing: 5px;
      font-weight: bold;
      font-family: 'Noto Serif TC', serif;
    }
    #product-id-desciption-text {
      margin: 20px;
      margin-bottom: 35px;
      .product-id-desciption-text-p {
        font-size: 14px;
        margin: 20px 0;
        letter-spacing: 3px;
        line-height: 24px;
        font-family: 'Noto Serif TC', serif;
      }
    }
  }
}
#product-wrapper-hr {
  border-color: #797979;
  margin: 30px 0;
  border-width: 1.5px;
}
#product-id-maylike-title {
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Noto Serif TC', serif;
}
@media screen and (max-width: 768px) {
  .product-id-link {
    font-size: 13px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0;
  }
  #product-id-wrapper {
    margin: 20px auto;
    margin-bottom: 30px;
    border: 15px solid #f2e8df;
    // #product-id-wrapper-hr {
    //   margin: 15px;
    //   margin-top: 0;
    //   border-width: 1.5px;
    //   border-color: #797979;
    // }
    #product-id-intro-wrapper {
      display: block;
      height: 100%;
      #product-id-intro-instrument-picture-wrapper {
        // background: khaki;
        width: 90%;
        margin: 15px;
      }
      #product-id-intro-video-picture-wrapper {
        width: 90%;
        margin: 15px;
      }
      #product-id-intro-course-picture-wrapper {
        width: 90%;
        margin: 15px;
      }

      #product-id-intro-text {
        width: 100%;
        padding: 15px;
        padding-top: 5px;
        #product-id-intro-text-top {
          #product-id-intro-text-title {
            font-size: 20px;
            letter-spacing: 4px;
            margin-bottom: 10px;
          }
          #product-id-intro-text-p {
            margin-bottom: 10px;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 20px;
          }
        }
        #product-id-intro-text-bottom {
          #product-id-intro-text-cost-title {
            font-size: 16px;
            margin-bottom: 15px;
            margin-right: 15px;
          }
          #product-id-intro-text-cost {
            font-size: 16px;
            margin-bottom: 15px;
          }
          #product-id-intro-btn-wrapper {
            display: flex;
            justify-content: space-between;
            .product-id-intro-btn {
              width: 32vw;
            }
            #product-id-intro-cart-btn {
              margin: 0;
            }
          }
        }
      }
    }
    .product-instrument-id-intro-wrapper {
      height: 450px;
    }
    .product-video-id-intro-wrapper {
      height: 350px;
    }
    #product-id-desciption-wrapper {
      margin: 5px;
      #product-id-desciption-title {
        font-size: 16px;
        letter-spacing: 3px;
        margin-left: 10px;
      }
      #product-id-desciption-text {
        margin: 10px;
        margin-bottom: 15px;
        .product-id-desciption-text-p {
          font-size: 12px;
          margin: 10px 0;
          letter-spacing: 2px;
          line-height: 20px;
        }
      }
    }
  }
  #product-wrapper-hr {
    margin: 30px 0;
    border-width: 1.5px;
  }
  #product-id-maylike-title {
    font-size: 24px;
    letter-spacing: 5px;
  }
}
