.product-sideBar {
  display: none;
}

.product-sidebar-menu-li:hover {
  background-color: #141414;
  color: white;
}
.product-sidebar-menu-li:hover > .product-sidebar-menu-li-left {
  border-left: #ffffff 1px solid;
}

.product-sidebar-menu-li:hover > .product-sidebar-menu-li-right {
  border-right: #ffffff 1px solid;
}

.product-sidebar-menu-li > div {
  width: 20px;
  height: 15px;
}

.product-sidebar-menu-li-left {
  border-left: #141414 1px solid;
}

.product-sidebar-menu-li-right {
  border-right: #141414 1px solid;
}

.product-sideBar-logo {
  width: 50px;
  margin: 0 auto 20px auto;
  height: 60px;
  font-size: 60px;
}

.product-sideBar-title {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .product-sideBar {
    display: block;
    width: 400px;
    height: 1130px;
    background-color: #dadada;
    padding-top: 310px;
  }
  .product-sidebar-menu > a {
    color: #141414;
    text-decoration: none;
  }

  .product-sidebar-menu-li {
    height: 32px;
    width: 100%;
    font-size: 14px;
    align-items: center;
    background: #f2f2f2;
    white-space: nowrap;
    margin: 0;
    margin-top: 70px;
    text-decoration: none;
    color: #141414;

    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .product-sidebar-menu-li:hover > .product-sidebar-menu-li-left {
    display: none;
  }

  .product-sidebar-menu-li:hover > .product-sidebar-menu-li-right {
    display: none;
  }
  .product-sidebar-menu-li-left {
    display: none;
  }
  .product-sidebar-menu-li-right {
    display: none;
  }
  .product-sideBar-title {
    display: none;
  }
  .product-sidebar-menu {
    display: flex;
    width: 100%;
    height: 105px;
    background: #dadada;
    overflow: scroll;
  }
  .product-sideBar {
    width: 100%;
    height: 0;
    background-color: #d71717;
    padding-top: 0;
  }
  .product-sidebar-menu::-webkit-scrollbar {
    display: none;
  }
}
