@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

.product-container {
  margin: 0 auto;
  margin-top: 120px;
  width: 80vw;
  max-width: 1140px;
  min-width: 800px;
  .product-picture {
    margin-bottom: 60px;
    height: 50vh;
    min-height: 300px;
    max-height: 400px;
    background: salmon;
    position: relative;

    .product-black-tri {
      height: 200px;
      width: 470px;
      margin: 0;
      padding: 0;
      fill: #141414;
      position: absolute;
      top: -20px;
      left: -20px;
    }
    #product-title {
      color: #fff;
      font-family: 'Noto Serif TC', serif;
      font-size: 36px;
      position: absolute;
      top: 20px;
      left: 30px;
    }
    #product-title-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 95%;
    // background: paleturquoise;
    .product-control {
      margin: 40px auto;
      height: 50px;
      background: darkorchid;
      display: flex;

      .product-sort {
        height: 50px;
        width: 170px;
        border-radius: 0;

        .product-sort-option {
          height: 40px;
        }
      }
    }
    .product-card-list {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      .product-instrument-card {
        border: 1.5px solid #797979;
        width: 206px;
        // height: 264px;
        background: #fff;
        position: relative;
        overflow: hidden;
        .product-instrument-card-img {
          width: 184px;
          height: 177px;
          object-fit: contain;
          margin: 10px;
          // background: fuchsia;
        }
        .product-card-favorite-container {
          height: 26px;
          width: 26px;
          background: #797979;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          top: 5px;
          right: 5px;
          .product-card-favorite {
            color: #fff;
            margin: 5px;
            margin-top: 6px;
            font-size: 16px;
          }
        }
        .product-card-favorite-container:hover {
          background: #fb2643;
        }
        .product-card-intro {
          background: #f2f2f2;
          height: 56px;
          margin: 0;
          padding: 10px;
          .product-card-title {
            margin: 0px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 5px;
            font-family: 'Noto Serif TC', serif;
          }
          .product-card-cost {
            color: #fb2643;
            margin: 0;
            font-size: 20px;
            position: absolute;
            right: 10px;
            bottom: 5px;
            font-family: Merienda;
          }
        }
      }
      .product-video-card {
        width: 100%;
        height: 200px;
        background: #f2f2f2;
        display: flex;
        position: relative;
        .product-video-card-img {
          background: slateblue;
          width: 280px;
          height: 100%;
        }
        .product-card-intro {
          font-family: 'Noto Serif TC', serif;
          width: 630px;
          margin: 15px 15px 15px 10px;
          letter-spacing: 5px;
          .product-card-title {
            margin-bottom: 15px;
            font-size: 24px;
          }
          .product-video-card-time {
            font-size: 14px;
            margin-bottom: 15px;
            margin-left: 12px;
          }
          .product-course-card-date {
            font-size: 14px;
            margin-bottom: 15px;
            margin-left: 12px;
          }

          .product-video-card-desciption {
            font-size: 14px;
            margin-bottom: 15px;
            margin-left: 12px;
            line-height: 22px;
          }
          .product-card-cost {
            color: #fb2643;
            margin: 0;
            font-size: 20px;
            position: absolute;
            right: 15px;
            bottom: 15px;
            font-family: Merienda;
            letter-spacing: 0;
          }
        }
        .product-card-favorite-container {
          height: 26px;
          width: 26px;
          background: #797979;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          top: 15px;
          right: 15px;
          .product-card-favorite {
            color: #f2f2f2;
            margin: 5px;
            margin-top: 6px;
            font-size: 16px;
          }
        }
        .product-card-favorite-container:hover {
          background: #fb2643;
        }
      }
      .product-instrument-card:hover {
        cursor: pointer;
      }
      .product-video-card:hover {
        cursor: pointer;
      }
    }
    #product-pages-list {
      margin: 50px auto;
      display: flex;
      justify-content: center;
      .product-pages {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        font-family: 'Noto Serif TC', serif;
        text-decoration: none;
        border: 1px solid #dadada;
        color: #141414;
        text-align: center;
        margin: 10px;
        .product-pages-arrows {
          font-size: 20px;
          margin: 8px;
        }
      }
      .product-pages:hover {
        background: #f2e8df;
      }
    }
  }
}
