@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Noto+Serif+TC:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --main-colorfff: #fff;
  --main-colorblock: #141414;
  --main-color79: #797979;
  --main-colorda: #dadada;
  --mail-colorf2: #f2f2f2;
  --main-colorf2e: #f2ebdf; // 米色
  --main-colorfb2: #fb2643;
  --main-title-english: 'Merienda', cursive;
  --main-title-chinese: 'Noto Serif TC', serif;
  --nav-height: 5rem; // 80px
  --margin: 11.25rem; // 180px
  --h1: 2.25rem; // 36px
  --h2: 1.5rem; // 24px
  --h3: 1.42rem; // 20px
  --h4: 1.14rem; // 16px
  --p: 1rem;
  --h5: 0.92rem; // 13px
  --h6: 0.85rem; // 12px
}

.register-class-d-flex{
    display: flex;
}

.user-register-wrap{
    // border: 1px solid red;
    margin: 13.57rem auto 0 ;

    .user-register-body{
        text-align: center;
        // border: 1px solid blue;
        margin: 0 auto;

        .user-register-txt{
            font-family: var(--main-title-english);
            font-size: var(--h1);
            padding-bottom: 1.42rem;

            .user-register-h3{
                font-family: var(--main-title-chinese);
                font-size: var(--h3);
              }// user-register-h3

        }// user-register-txt

        .register-form-wrap{
            margin: 0 auto;

            .form-group{
                margin-bottom: 1.42rem;

                .control-label{
                    // border: 1px solid rgb(31, 141, 90);
                    font-size: var(--p);
                    text-align: left;
                } // control-label

                .form-control{
                    height: 2.85rem;
                    border:none;
                    border-radius: 0;
                    border-bottom: 2px solid var(--main-colorda);
                    font-size: var(--h3);

                    &:focus{
                        color: #495057;
                        border-color:var(--main-colorblock);
                        outline: none;
                        box-shadow:none;
                    } // focus

                }// form-control

            }// form-group

            .form-check{
                margin: 0 ;
                margin-top: 2.85rem ;
                // border:1px solid red;

                .register-check-input{
                    vertical-align: middle;
                }

                .register-check-label{
                  padding: 0;
                  margin-left: 0.5rem;
                //   border:1px solid blue;
                    a{
                        display: inline;
                    }
                } // user-check-label

              }// form-check

            .user-register-btn{
                width: 10.71rem;
                height: 3.57rem;
                font-size: var(--h3);
                border:none;
                background: var(--main-colorf2e);
                margin: 1.42rem 0;

                &:focus{
                    color:var(--main-colorfff);
                    background: var(--main-colorblock);
                } // focus
            }

            input::-webkit-input-placeholder{
                color:var(--main-colorda);
                font-size:var(--h4);
            }// 谷歌

            input:-moz-placeholder{
                color:var(--main-colorda);
                font-size:var(--h4);
            }//火狐

            input:-ms-input-placeholder{
                color:var(--main-colorda);
                font-size:var(--h4);
            }//微软

            .user-pw-form, .user-pwCom-form{
                position: relative;

                .user-register-eye{
                    position: absolute;
                    bottom:6%;
                    right: 2%;
                    cursor: pointer;
                    // border: 1px solid red;
                }
            }// .user-pw-form, .user-pwCom-form

        }// register-form-wrap
    }// user-register-body

}// user-register-wrap